@import url('Gobold_light/fonts.css');
@import url('Opensans_light/styles.css');

/* ------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------ */

body {
    background: url("images/bg_banner.png") repeat;
    color: #959595;
    font-size: 16px;
    font-family: 'OpenSans-Light', sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* ------------------------------------------------------ */

.header .container .navbar a img {
    max-width: 100%;
}
.header .container .navbar {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 80px;
}
.header .container .navbar .nav-item .nav-link {
    background-image: url("images/menu.png");
    width: 40px;
    height: 16px;
    background-size: 100%;
}
.nav-item:hover .menu{
    display: block;
    transition: all 2s;
}
.menu {
    display: none;
    position: absolute;
    top: 0;
    background-color: #9e171d;
    left: 0;
    width: 100%;
    z-index: 10;
}
.menu .container .navbar-purple {
    padding: 80px 0 60px 0;
}
.menu .container .navbar-purple .navbar-nav .nav-item a {
    background-image: url("images/close.png");
    width: 40px;
    height: 40px;
    background-size: 100%;
}
.menu .container .hover_menu {
    padding: 30px 0;
}
.menu .container .hover_menu ul li {
    display: inline-block;
}
.menu .container .hover_menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}
.menu .container .hover_menu ul li a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 6px;
}
/* ------------------------------------------------------ */

.banner .container {
    padding: 20px 15px;
    position: relative;
    overflow: hidden;
}
.banner .container:before  {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    content: "";
    width: 370px;
    height: 256px;
    background: #3a3a3a;
}
.banner .container .about_car h1 {
    position: relative;
    font-size: 18px;
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    color: #4a4c4c;
}
.banner .container .about_car h1:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #4a4c4c;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.banner .container .picture_car img {
    max-width: 100%;
}
.banner .container .about_car {
    padding: 45px 0 0 0;
}
.banner .container .about_car h1 span,
.banner .container .about_car p {
    color: #82878a;
}
.banner .container .about_car p {
    line-height: 25px;
    padding: 30px 0;
    font-size: 14px;
    font-family: 'OpenSans-Light', sans-serif;
}
.banner .container .slick-next:before {
   font-family: ' ';
    font-size: 30px;
}
.banner .container .slick-next {
    position: absolute;
    top: 345px;
    left: 70px;
}
.banner .container .slick-next {
    opacity: .75;
    color: white;
}
.banner .container .slick-next:before {
    position: absolute;
    top: 13px;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #bcbcbc;
}
.banner .container .slick-next:after {
    position: absolute;
    top: 9px;
    left: 30px;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #bcbcbc;;
    border-right: 2px solid #bcbcbc;
    transform: rotate(45deg);
}



.banner .container .about_car {
    position: relative;
}
.banner .container .about_car ul.about_car_dots li {
    display: inline-block;
}
.banner .container .about_car ul.about_car_dots li button {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #4a4c4c;
    font-size: 16px;
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    font-weight: bold;
    padding: 0 2px;
    border-left: 2px solid #4a4c4c;
}
.banner .container .about_car ul.about_car_dots li button:hover {
    color: #82878a;
}
.banner .container .about_car ul.about_car_dots li.slick-active button {
    color: #82878a;
    border-left: none;
}
.banner .container .about_car .slick-dotted.slick-slider {
    margin: 0 40px;
}
/* service------------------------------------------------------ */

.our_services {
    background-color: #6e0b0e;
}
.our_services .container-fluid {
    position: relative;
    padding: 20px 15px 40px 15px;
}
.our_services .container-fluid .service,
.our_services .container-fluid .wedding {
    margin: 0 0 30px 0;
}
.our_services .container-fluid h2 {
    position: relative;
    font-size: 18px;
    font-family: 'Conv_GoboldCYR LAT';
    color: white;
    padding: 45px 0 0 0;
}
.our_services .container-fluid h2:before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.our_services .container-fluid h2 span {
    color: black;
}
.our_services .container-fluid p {
    font-family: 'OpenSans-Light', sans-serif;
    position: relative;
    font-size: 14px;
    color: white;
    padding: 20px 0;
}
.our_services .container-fluid .service a,
.our_services .container-fluid .wedding a,
.our_services .container-fluid .tours a {
    position: relative;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 25px;
}

.our_services .container-fluid .service a:before,
.our_services .container-fluid .wedding a:before,
.our_services .container-fluid .tours a:before {
    position: absolute;
    top: 25px;
    left: 10px;
    content: "";
    width: 24px;
    height: 2px;
    background-color:  white;
}
.our_services .container-fluid .service a:after,
.our_services .container-fluid .wedding a:after,
.our_services .container-fluid .tours a:after {
    position: absolute;
    left: 30px;
    top: 21px;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid  white;
    border-right: 2px solid  white;
    transform: rotate(45deg);
}




.our_services .container-fluid .service a:hover,
.our_services .container-fluid .wedding a:hover,
.our_services .container-fluid .tours a:hover {
    background-color: #9e171d;
}

/* Our-fleet------------------------------------------------------ */

.our_fleet {
    background-color: white;
}
.our_fleet .container {
    padding: 80px 15px 20px;
}
.our_fleet h2 {
    position: relative;
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    font-size: 30px;
    color: #9e171d;
}
.our_fleet .container h2:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #9e171d;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.our_fleet h2 span {
    color: black;
}
.our_fleet p {
    padding: 20px 0;
    color: #82878a;
    font-size: 10px;
}
.our_fleet .container-fluid .slider {
  padding: 100px 0;
}
.our_fleet li {
    position: relative;
}
.our_fleet p.name_car {
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    color: black;
    font-size: 20px;
    padding: 10px 0 0 0;
}
.our_fleet p.hover_btn {
    display: none;
    position: absolute;
    z-index: 10;
    bottom: 15%;
    left: 0;
    background: rgba(158, 23, 29, 0.7);
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    width: 100%;
}
.our_fleet li:hover p.hover_btn {
    display: block;
}
.our_fleet .container .slider_with_cars {
    position: relative;
    padding: 45px 0;
}
.our_fleet .container .slider_with_cars ul li a{
    height: 190px;
}
.our_fleet .container .slider_with_cars img {
    width: 100%;
}
.our_fleet .container .slick-next,
.our_fleet .container .slick-prev {
    padding: 25px;
    border: 1px solid #9e171d;
}
.our_fleet .container .slick-next:hover,
.our_fleet .container .slick-prev:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.our_fleet .container .slick-next {
    right: -45px;
}
.our_fleet .container .slick-next:before,
.our_fleet .container .slick-prev:before {
    position: absolute;
    left: 10px;
    content: "";
    width: 24px;
    height: 2px;
    background-color:  #9e171d;
}
.our_fleet .container .slick-next:after,
.our_fleet .container .slick-prev:after {
    position: absolute;
    left: 30px;
    top: 21px;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid  #9e171d;
    border-right: 2px solid  #9e171d;
    transform: rotate(45deg);
}
.our_fleet .container .slick-prev {
    transform: rotate(180deg);
}
.our_fleet .container .slick-next:before,
.our_fleet .container .slick-prev:before{
    font-family: ' ';
}
.our_fleet .container .slider_with_cars ul.slick-dots {
    left: 0;
}
.our_fleet .container .slider_with_cars ul.slick-dots li button:before {
    background-color: black;
    border-radius: 50px;

}

    /* contacts------------------------------------------------------ */

.our_contacts .container .contact_us {
    margin: 80px 0;
}
.our_contacts .container .contact_us .contact {
    margin: 0 0 30px 0;
}
.our_contacts .container h2,
.our_contacts .container h3 {
    position: relative;
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0 0 20px 0;
}
.our_contacts .container h2 span {
    color: #9e171d;
}
.our_contacts .container .contact h2:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #9e171d;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.our_contacts .container .contact p {
    font-size: 10px;
}
.our_contacts .container .your_estimate h2:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.our_contacts .container .your_estimate p {
    color: white;
    font-size: 13px;
    margin: 30px 0;
    line-height: 25px;
}
.our_contacts .container .your_estimate a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.our_contacts .container .your_estimate a:hover {
    border-bottom: 1px solid white;
}
.our_contacts .container .contact .our_form {
    margin: 20px 0;
}
.our_contacts .container .contact form label {
    font-size: 13px;
    margin: 0 0 7px 0;
    display: block;
}
.our_contacts .container .contact form label span {
    color: #9e171d;
}
.our_contacts .container .contact form .selector,
.our_contacts .container .contact form .your_name,
.our_contacts .container .contact form .mail {
    display: block;
    margin: 20px 0;
}
.our_contacts .container .contact form select {
    display: block;
    width: 370px;
    height: 25px;
    background-color: transparent;
    border: 1px solid  #82878a;
    color:  #82878a;
}
.our_contacts .container .contact form select option {
    background-color: #0e0e0e;
}
.our_contacts .container .contact form .your_name input[type="text"] {
     width: 100%;
 }
.our_contacts .container .contact form .mail input[type="email"] {
    width: 100%;
    display: block;
}
.our_contacts .container .contact form input[type="checkbox"]{
    border: 1px solid #9e171d;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.our_contacts .container .contact .selector {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.our_contacts .container .contact .selector_second {
    left: 160px;
    top: -31px;
}
/* Hide the browser's default checkbox */
.our_contacts .container .contact .selector input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.our_contacts .container .contact .selector .checkmark {
    position: absolute;
    top: -5px;
    left: 120px;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #9e171d;
}
.our_contacts .container .contact .selector_second .checkmark {
    left: 90px;
}
/* On mouse-over, add a grey background color */
.our_contacts .container .contact .selector:hover input ~ label .checkmark {
    background-color: #575757;
}
/* When the checkbox is checked, add a blue background */
.our_contacts .container .contact .selector input:checked ~ label .checkmark {
    background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.our_contacts .container .contact .selector .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.our_contacts .container .contact .selector input:checked ~ label .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.our_contacts .container .contact .selector .checkmark:after {
    left: 8px;
    top: 0;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.our_contacts .container .contact form input[type="text"],
.our_contacts .container .contact form input[type="email"] {
    height: 30px;
    border: none;
    text-decoration: none;
}
.our_contacts .container .contact form button {
    margin: 10px 0 0 0;
    padding: 15px 55px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.our_contacts .container .contact form button:hover {
    background-color: rgba(255, 46, 51, 0.5);
}
.our_contacts .container .contact form select {
    height: 25px;
    width: 100%;
    /*width: 370px;*/
    overflow: hidden;
    background: url("images/down_arrow.png") no-repeat right;
    background-size: 20px;
    box-shadow: none;
}
.our_contacts .container .contact form select {
    padding: 0 15px;
    margin: 0 0 15px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a:active, a:focus { outline: none; }
.our_contacts .container .contact form input, textarea {outline:none;}
.our_contacts .container .contact form input:active, textarea:active {outline:none;}
.our_contacts .container .contact form :focus {outline:none;}
.our_contacts .container .contact form .text {
    margin: 20px 0 5px 0;
}
.our_contacts .container .contact form .text textarea {
    resize:none;
    width: 100%;
    height: 90px;
}

/* testimonials------------------------------------------------------ */

.testimonials {
    background-color: #0e0e0e;
}
.testimonials .container {
    padding: 50px 15px 90px;
}
.testimonials .container h2,
.testimonials .container h3 {
    position: relative;
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0 0 20px 0;
}
.testimonials .container h2 span {
    color: #9e171d;
}
.testimonials .container h2:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #9e171d;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.testimonials .container p {
    font-size: 10px;
}
.testimonials .container .client_slider {
    margin: 100px 0 0 0;
}
.testimonials .container .client_slider p.people_say {
    font-size: 14px;
    padding: 30px 0;
    line-height: 25px;
}
.testimonials .container .client_slider p.name_clients {
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    color:  #9e171d;
    font-size: 14px;
}
.testimonials .container .client_slider {
    position: relative;
}
.testimonials .container .client_slider .slick-prev {
    position: absolute;
    top: -171px;
    left: auto;
    right: 60px;
    padding: 25px;
    border: 1px solid #9e171d;
    transform: rotate(180deg);
}
.testimonials .container .client_slider .slick-prev:hover,
.testimonials .container .client_slider .slick-next:hover {
    opacity: .75;
    color: white;
}

.testimonials .container .client_slider .slick-next {
    position: absolute;
    top: -145px;
    left: auto;
    right: 10px;
    padding: 25px;
    border: 1px solid #9e171d;
}


.testimonials .container .client_slider .slick-prev:before,
.testimonials .container .client_slider .slick-next:before {
    position: absolute;
    top: 25px;
    left: 10px;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #9e171d;
}

.testimonials .container .client_slider .slick-prev:after,
.testimonials .container .client_slider .slick-next:after {
    position: absolute;
    left: 30px;
    top: 21px;
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid  #9e171d;
    border-right: 2px solid  #9e171d;
    transform: rotate(45deg);
}
.testimonials .container .slick-slider ul.slick-dots li button:before {
    background-color: white;
    border-radius: 50px;
    color: transparent;
}

/* footer------------------------------------------------------ */

.footer {
    background-color: white;
}
.footer .container .footer_menu {
    padding: 75px 0;
}
.footer .container h2 {
    position: relative;
    font-family: 'Conv_GoboldCYR LAT', sans-serif;
    font-size: 30px;
    color: black;
    margin: 0 0 20px 0;
}
.footer .container h2 span {
    color: #9e171d;
}
.footer .container h2:before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #9e171d;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.footer .container .footer_menu ul li {
    display: inline-block;
    padding: 30px 10px 0 0;
}
.footer .container .footer_menu ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #82878a;
}
.footer .container .footer_menu ul li a:hover {
    border-bottom: 1px solid #82878a;
}
.footer .container .connect_with_us {
    padding: 20px 15px 0;
}
.footer .container .connect_with_us ul li:nth-child(2) {
    text-decoration: underline;
}

/* privacy------------------------------------------------------ */

.privacy_police {
    background-color: #e6e6e6;
}
.privacy_police .container .our_rights {
    padding: 30px 0;
}
.privacy_police .container .private {
    padding: 0 15px 10px;
}
.privacy_police .container .private ul li {
    display: inline-block;
}
.privacy_police .container .private ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #82878a;
}
.privacy_police .container .private ul li:nth-child(2) a{
    color: #9e171d;
}
.privacy_police .container .rights_reserved ul li,
.privacy_police .container .rights_reserved ul,
.privacy_police .container .rights_reserved p {
    display: inline-block;
}
.privacy_police .container .rights_reserved ul li a {
    color: white;
    padding: 6px 12px;
    background-color: #82878a;
    border-radius: 50px;
    font-size: 12px;
}
.privacy_police .container .rights_reserved ul li:nth-child(2) a {
    padding: 6px 9px;
}
.privacy_police .container .rights_reserved ul li:nth-child(3) a {
    padding: 6px 7px;
}
.privacy_police .container .rights_reserved ul li a:hover {
    background-color: #9e171d;
}
.privacy_police .container .rights_reserved p {
    padding: 0 0 20px 0;
    font-size: 13px;
}

/* media------------------------------------------------------ */


@media (min-width: 576px) {

}
@media (min-width: 730px) {
    .our_contacts .container .contact form .text textarea {
        width: 670px;
    }
}

@media (min-width: 768px) {
    .banner .container .picture_car img {
        width: 450px;
    }
    .banner .container {
        padding: 50px 0;
    }
    .banner .container:before {
        display: block;
        background: url(images/bg_under_text.png) repeat;
        background-size: 100%;
        height: 300px;
    }
    .banner .container .about_car .slick-dotted.slick-slider {
        margin: 0;
    }
    .banner .container .about_car {
        padding: 0;
    }
    .footer .container .connect_with_us {
        padding: 0 15px;
    }
}

@media (min-width: 920px) {
    .our_contacts .container .contact form .text textarea {
        width: 570px;
    }
}

@media (min-width: 992px) {
    .menu .container .navbar-purple {
        padding: 80px 0 100px 0;
    }

    .banner .container .picture_car img {
        width: 620px;
    }
    .banner .container {
        padding: 60px 0 10px 0;
    }
    .banner .container:before {
        background: url("images/bg_under_text.png") repeat;
        background-size: 100%;
        top: 70px;
        right: 0;
        width: 570px;
        height: 406px;
    }
    .banner .container .about_car p {
        padding: 30px 0;

    }
    .banner .container .about_car h1 {
        font-size: 25px;
    }
    .banner .container .about_car ul.slider {
        display: block;
    }
    .banner .container .about_car_dots {
        padding: 100px 0;
    }
    .banner .container .about_car {
        padding: 45px 0 0 0;
    }
    .our_services {
        background-color:  #101010;;
        position: relative;
        overflow: hidden;
    }
    .our_services .container-fluid {
        max-width: 1140px;
        padding: 0 15px;
    }
    .our_services .container-fluid h1 {
        font-size: 25px;
        padding: 45px 0 0 0;
    }
    .our_services .container-fluid p {
        font-size: 16px;
        padding: 40px 0 50px 0;
        line-height: 20px;
        margin: 0 0 180px 0;
    }
    .our_services .container-fluid .service, .our_services .container .wedding {
        position: relative;
        margin: 0;
    }
    /*    .our_services .container-fluid .service:before {
            position: absolute;
            display: block;
            content: "";
            background: url("images/car_service.png") no-repeat 50%;
            background-size: 40%;
            background-position: right;
            height: 600px;
            width: 100vw;
            top: 0;
            right: 0;
        }

      */
        .our_services .container-fluid .service:before {
            position: absolute;
            display: block;
            content: "";
            background: url("images/car_service.png") no-repeat 50%;
            background-size: cover;
            height: 600px;
            width: 50vw;
            top: 0;
            right: 0;
        }

    .our_services .container-fluid .wedding{
        margin: 0;
        height: 600px;
        background-size: 100%;
        background: url("images/car_service2.png") no-repeat;
    }
    .our_services .container-fluid .tours:before {
        position: absolute;
        display: block;
        content: "";
        background: url("images/car_service3.png") no-repeat 50%;
        background-size: cover;
        background-position: left;
        height: 600px;
        width: 50vw;
        top: 0;
        left: 0;
    }
    .our_fleet h1 {
        font-size: 40px;
    }
    .our_fleet p {
        font-size: 13px;
    }
    a.red_btn {
        text-decoration: none;
        color: #9e171d;
        border: 1px solid #9e171d;
        font-size: 30px;
        padding: 5px 10px;
    }
    .our_fleet p.name_car {
        font-size: 25px;
    }
    .our_fleet .container .slider_with_cars .slick-prev {
        left: -50px;
    }
    .our_contacts .container .contact_us .contact {
        margin: 0;
    }
    .our_contacts .container h1,
    .our_contacts .container h3,
    .testimonials .container h1 {
        font-size: 40px;
    }

    .our_contacts .container .contact form .text textarea {
        width: 670px;
    }
    .footer .container h1 {
        font-size: 25px;
    }
    .our_contacts .container .contact p,
    .testimonials .container p {
        font-size: 13px;
    }
    .our_contacts .container h3 {
        padding: 50px 0 10px 0;
    }

    .privacy_police .container .rights_reserved p {
        padding: 0 20px 0 0;
    }
    .our_contacts .container .contact form .your_name,
    .our_contacts .container .contact form .mail {
        display: inline-block;
    }
    .our_contacts .container .contact form .text textarea {
        max-width: 670px;
    }
    .our_contacts .container .contact form select {
        max-width: 370px;
    }
    .our_contacts .container .contact form .mail input {
        max-width: 270px;
    }
    .our_contacts .container .contact form .your_name input {
        max-width: 370px;
    }
}

@media (min-width: 1046px) {
    .banner .container .about_car_dots {
        padding: 130px 0;
    }
}
@media (min-width: 1080px) {
    .our_contacts .container .contact form .your_name input[type="text"] {
        /*max-width: 270px;*/
    }
}
@media (min-width: 1200px) {
    .banner .container .picture_car img {
        width: 740px;
    }

}