body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #424242;
    font-size: 16px;
    min-width: 400px;
}

/* ------------------------------------------------------ */

a.bar_link {
    color: black;
}

a.blue_btn {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    background-color: rgba(60, 199, 198, 0.75);
    border-radius: 30px;
    padding: 15px;
}
a.blue_btn:hover {
    background-color: white;
    color: black!important;
}

a.white_btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #e6eaf1;;
    padding: 15px;
}
a.white_btn:hover {
    background-color: white;
    color: black!important;
}

/* ------------------------------------------------------ */

.details {
    background-size: cover;
    background-position-x: 100%;
    padding: 150px 0;
}

.products {
    background-size: cover;
    background-position-x: 100%;
    padding: 150px 0 0;
    color: white;
}
.products .images {
    align-self: flex-end;
}
.products .images img {
    width: 100%;
}

/* ------------------------------------------------------ */

.navbar a img {
    height: 45px;
}
.navbar .menu a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    color: #444444;
    font-size: 14px;
    padding-left: 40px;
}
.navbar .menu a:hover {
    color: rgba(60, 199, 198, 0.75);
}

/* ------------------------------------------------------ */

#mobile_factory {
    background-image: url("images/team-banner.jpg");
    background-size: cover;
    overflow: hidden;
}
#mobile_factory h1 {
    font-size: 40px;
}
#mobile_factory p.text {
    margin: 50px 0;
    font-size: 20px;
    line-height: 20px;
}

#mobile_factory .devices {
    height: 200px;
}

#mobile_factory .devices img.drone {
    position: absolute;
    bottom: -10px;
    right: 20%;
    width: 200px;
}
#mobile_factory .devices img.phone {
    position: absolute;
    bottom: -45px;
    right: 55%;
    width: 120px;
}
#mobile_factory .devices img.watch {
    position: absolute;
    right: 29%;
    width: 170px;
}

/* ------------------------------------------------------ */

#ux_design {
    background-image: url("images/ux-design.jpg");
    color: white;
}
#ux_design p.text {
    color: #e6eaf1;
}

/* ------------------------------------------------------ */

#app_develop {
    background-image: url(images/apps_develop.jpg);
}
#app_develop a.blue_btn {
    border-radius: 0;
}
#app_develop a.blue_btn:hover {
    border: 1px solid rgba(60, 199, 198, 0.75);
    padding: 14px;
}

/* ------------------------------------------------------ */

#ar_development {
    background-image: url("images/ar-development.jpg");
    color: white;
}
#ar_development p.text {
    color: #e6eaf1;
}

/* ------------------------------------------------------ */

#work_with_us {
    background-image: url("images/work_with_us.jpg");
}
#work_with_us h1 {
    margin-bottom: 30px;
    text-align: center;
}
#work_with_us img {
    margin: 20px 0;
}
#work_with_us h3 {
    margin: 20px 0;
}

/* ------------------------------------------------------ */

#prices {
    background-color: #fffcfc;
}
#prices .blue_column {
    padding: 10px;
}
#prices .blue_column .inner{
    color: white;
    background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%);
    padding: 60px 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 600px;
}
#prices .blue_column h2 {
    font-size: 48px;
}
#prices .blue_column h2,
#prices .blue_column h3 {
    font-size: 32px;
    margin: 20px 0;
}
#prices .blue_column h4 {
    font-size: 20px;
    margin: 20px 0;
}
#prices .blue_column .line {
    width: 124px;
    height: 4px;
    background-color: white;
}
#prices a.white_btn {
    width: 75%;
    align-self: center;
    text-align: center;
}
#prices a.white_btn:hover {
    color: #009ec3;
}

/* ------------------------------------------------------ */

#our_latest_work {
    padding: 50px 0 0;
    color: black;
}
#our_latest_work .title_our_works {
    margin-bottom: 100px;
    text-align: center;
}

/* ------------------------------------------------------ */

#tasi_predicts {
    background-image: url("images/tasi_bg.png");
}

/* ------------------------------------------------------ */

#brain_online {
    color: black;
}

/* ------------------------------------------------------ */

#danfoss_products {
    background-image: url("images/danfoss_bg.jpg");
}

/* ------------------------------------------------------ */

#world_fans {
    background-image: url("images/world_fans_bg.jpg");
}
#world_fans a.white_btn {
    margin-bottom: 15px;
}

/* ------------------------------------------------------ */

#swiper_3d {
    background-image: url("images/swiper_bg.jpg");
}
#swiper_3d a.white_btn {
    margin-bottom: 15px;
}

/* ------------------------------------------------------ */

#digital_immersion {
    background-image: url("images/digital_bg.png");
}
#digital_immersion a.white_btn {
    margin-bottom: 15px;
}

/* ------------------------------------------------------ */

#art_history {
    background-image: url("images/art_bg.png");
}

/* ------------------------------------------------------ */

#about_team {
    background-image: url("images/team-final.jpg");
    color: white;
}

/* ------------------------------------------------------ */

#clients_about_us {
    margin-bottom: 30px;
}
#clients_about_us .review {
    padding: 10px;
}
#clients_about_us .review .inner {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding: 20px;
}
#clients_about_us .review p.text {
    font-style: italic;
}
#clients_about_us .review h6 {
    text-transform: uppercase;
    font-weight: 700;
}
#clients_about_us .review h6 span {
    color: #00b7ea;
}
#clients_about_us .review img {
    border-radius: 100px;
    margin-bottom: 20px;
}


/* ------------------------------------------------------ */

@media (min-width: 768px) {
    h1{
        font-size: 54px;
    }
    #mobile_factory {
        margin-top: -61px;
        padding: 211px 0 150px;
    }
    #mobile_factory h1 {
        font-size: 60px;
    }
    #mobile_factory p.text {
        margin: 80px 0;
        font-size: 30px;
        line-height: 40px;
    }
    #mobile_factory .devices {
        height: auto;
    }
    #mobile_factory .devices img.drone {
        bottom: -10px;
        right: -200px;
        width: 425px;
    }
    #mobile_factory .devices img.phone {
        bottom: -115px;
        right: 65px;
        width: 240px;
    }
    #mobile_factory .devices img.watch {
        bottom: -105px;
        right: 200px;
        width: 400px;
    }

    #ux_design h1,
    #app_develop h1,
    #ar_development h1 {
        margin-bottom: 30px;
    }

    #ux_design a,
    #app_develop a,
    #ar_development a {
        margin-top: 30px;
    }

}