body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #424242;
    font-size: 16px;
    min-width: 400px;
}

/* ------------------------------------------------------ */

a.bar_link {
    color: black;
}

a.blue_btn {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    background-color: rgba(60, 199, 198, 0.75);
    border-radius: 30px;
    padding: 15px;
}
a.blue_btn:hover {
    color: black;
    background-color: white;
}

a.white_btn {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #e6eaf1;;
    padding: 15px;
}
a.white_btn:hover {
    background-color: white;
    color: black;
}

/* ------------------------------------------------------ */

.navbar a img {
    height: 45px;
}
.navbar .menu a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    color: #444444;
    font-size: 14px;
    padding-left: 40px;
}
.navbar .menu a:hover {
    color: rgba(60, 199, 198, 0.75);
}

/* ------------------------------------------------------ */

#mobile_factory {
    background-image: url("images/team-banner.jpg");
    background-size: cover;
    overflow: hidden;
}
#mobile_factory h1 {
    font-size: 40px;
}
#mobile_factory p.text {
    margin: 50px 0;
    font-size: 20px;
    line-height: 20px;
}

#mobile_factory .images {
    height: 200px;
}

#mobile_factory img.drone {
    position: absolute;
    bottom: -10px;
    right: 20%;
    width: 200px;
}

#mobile_factory img.phone {
    position: absolute;
    bottom: -45px;
    right: 55%;
    width: 120px;
}

#mobile_factory img.watch {
    position: absolute;
    right: 29%;
    width: 170px;
}
/* ------------------------------------------------------ */

#ux_design {
    background-image: url("images/ux-design.jpg");
    background-size: cover;
    padding: 150px 0;
    color: white;
}
#ux_design p.text {
    color: #e6eaf1;
}

/* ------------------------------------------------------ */

#app_develop {
    background-image: url(images/apps_develop.jpg);
    background-size: cover;
    padding: 150px 0;
}
#app_develop a.blue_btn {
    border-radius: 0;
}
#app_develop a.blue_btn:hover {
    border: 1px solid rgba(60, 199, 198, 0.75);
    padding: 14px;
}

/* ------------------------------------------------------ */

#ar_development {
    background-image: url("images/ar-development.jpg");
    background-size: cover;
    padding: 150px 0;
    color: white;
}
#ar_development p.text {
    color: #e6eaf1;
}
/* ------------------------------------------------------ */

@media (min-width: 768px) {
    #mobile_factory {
        margin-top: -61px;
        padding: 211px 0 150px;
    }
    #mobile_factory h1 {
        font-size: 60px;
    }
    #mobile_factory p.text {
        margin: 80px 0;
        font-size: 30px;
        line-height: 40px;
    }
    #mobile_factory .images {
        height: auto;
    }

    #mobile_factory img.drone {
        bottom: -10px;
        right: -200px;
        width: 425px;
    }

    #mobile_factory img.phone {
        bottom: -115px;
        right: 65px;
        width: 240px;
    }
    #mobile_factory img.watch {
        bottom: -105px;
        right: 200px;
        width: 400px;
    }

    #ux_design h1,
    #app_develop h1,
    #ar_development h1 {
        margin-bottom: 30px;
    }

    #ux_design a,
    #app_develop a,
    #ar_development a {
        margin-top: 30px;
    }
}