@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic');

/* https://www.web-font-generator.com/ */
@import url('roboto_regular/styles.css');

/* http://www.font2web.com/ */
@import url('roboto_bold/fonts.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------ */

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: #fafafc;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: "Ebrima Bold";
}
h1 {
    padding: 30px 0;
    font-size: 50px;
}
h2 {
    padding: 20px 0;
    color: darkslategrey;
    font-size: 35px;
}
h3 {
    padding: 10px 0;
    color: grey;
    font-size: 25px;
}
p, img {
    padding: 20px;
}
p {
    text-align: justify;
    line-height: 30px;
}
a.look_more {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
a.look_more:hover {
    text-decoration: underline;
    color: #0c5460;
}
a.menu {
    font-size: 16px;
    padding: 10px 20px;
    display: block;
}

/* ------------------------------------------------------ */
.text_about {
    margin: 100px 0;
}
/* ------------------------------------------------------ */

.example {
    border-bottom: 1px dashed gray;
    padding: 50px 0;
}

/* Inline-block--------------------------------------------*/

.short_info .example,
.about_us .example,
.contacts .example {
    padding: 10px 0;
}
.navbar {
    background-color: black;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    color: #005cbf;
}

/* Menu------------------------------------------------------ */

.navbar .menu {
    padding: 0 100px;
}
.navbar .menu ul.navigation {
    text-align: right;
    font-size: 0;
    z-index: 20;
    position: relative;
}
.navbar .menu ul.navigation li {
    margin: 0 30px 0 0;
    display: inline-block;
    font-size: 35px;
    position: relative;
}
.navbar .menu li a{
    display: block;
    padding: 10px 0;
    position: relative;
    transition: background 1s ease;
}
.navbar .menu ul.navigation > li > a:before {
    content: "";
    width: 36px;
    height: 33px;
    display: inline-block;
    background: url('images/icon_menu2.png');
    position: absolute;
    left: 0;
    top: 0;
}
.navbar .menu ul.navigation > li:last-child > a {
    text-align: left;
    width: 140px;
}
.navbar .menu ul.navigation > li:last-child > a:before {
    left: auto;
    right: 0;
}
.navbar .menu ul.navigation > li+li > a:before{
    background-position: -38px 0;
}
.navbar .menu ul.navigation > li+li+li > a:before{
    background-position: -76px 0;
}
.navbar .menu ul.navigation > li+li+li:hover > a:before {
    background-position: -114px 0;
}

.navbar .menu ul.navigation > li > ul.combo_box > li:last-child > a {
    text-align: left;
}
.navbar .menu ul.navigation > li > ul.combo_box > li:last-child > a:before {
    left: auto;
    right: 0;
    content: "";
    width: 36px;
    height: 33px;
    display: inline-block;
    background: url('images/icon_menu2.png');
    position: absolute;
    top: 0;
    background-position: -144px 0;
}
.navbar .menu ul.navigation > li > ul.combo_box > li:last-child:hover > a:before {
    background-position: -180px 0;
}
.navbar .menu ul.combo_box {
    font-family: 'RobotoSlab-Regular';
}
.navbar .menu ul.combo_box ul.second_combo_box {
    font-family: 'RobotoSlab-Bold';
}
.navbar .menu ul.combo_box,
.navbar .menu ul.combo_box ul.second_combo_box {
    overflow: hidden;
    transition: height 600ms, opacity 600ms;
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 100%;
    padding: 10px 0 0;
    height: 0;
    left: 0;
    opacity: 0;
}
.navbar .menu ul.combo_box ul.second_combo_box {
    padding: 0;
    transition: width 2s, height 2s, opacity 600ms, transform 0.5s;
}
.navbar .menu ul.navigation li:hover ul.combo_box,
.navbar .menu ul.navigation ul.combo_box li:hover ul.second_combo_box {
    overflow: visible;
    opacity: 1;
    height: 231px;
}
.navbar .menu ul.navigation ul.combo_box li:hover ul.second_combo_box {
    transform: rotate(360deg);
}
.navbar .menu ul.navigation ul.combo_box li{
    margin: 0;
    background-color: black;
    border-bottom: 1px solid white;
}
.navbar .menu ul.navigation ul.combo_box li a {
    width: 130px;
}
.navbar .menu ul.navigation ul.combo_box li:last-child {
    border-bottom: none;
}
.navbar .menu ul.combo_box ul.second_combo_box {
    left: 100%;
    top: 0;
}
.navbar .menu ul.navigation ul.combo_box li:hover ul.second_combo_box {
    height: 173px;
}
.navbar .menu a {
    width: 100px;
    padding: 0 10px;
    display: block;
}
.navbar .menu .combo_box a {
    margin: 10px;
}

/*------------------------------------------------------ */

.navbar .container,
.short_info .container,
.about_us .container,
.contacts .container{
    padding: 20px 0;
    text-align: center;
}

.navbar.inline_block .container,
.short_info.inline_block .container,
.about_us.inline_block .container,
.contacts.inline_block .container{
    font-size: 0;
}
.navbar.inline_block .container div,
.short_info.inline_block .container div,
.about_us.inline_block .container div,
.contacts.inline_block .container div {
    display: inline-block;
    font-size: 16px;
}
.navbar .container .logo,
.navbar .container .search {
    width: 10%;
}
.short_info .container .left,
.contacts .container .left {
    width: 60%;
}
.short_info .container .right,
.contacts .container .right {
    width: 40%;
}
.about_us .container .left{
    width: 40%;
}
.about_us .container .right{
    width: 60%;
}
.about_us .container .right .example_down .left,
.about_us .container .right .example_down .right,
.contacts .container .left .example_down .right,
.contacts .container .left .example_down .left,
.contacts .container .right .example_down .left,
.contacts .container .right .example_down .right {
    width: 49%;
}

/* Table-cell------------------------------------------------------ */

.navbar.table_cell .container div,
.short_info.table_cell .container .left,
.short_info.table_cell .container .right,
.about_us.table_cell .container .left,
.about_us.table_cell .container .right,
.contacts.table_cell .container .left,
.contacts.table_cell .container .right,
.about_us.table_cell .container .right .example_down,
.contacts.table_cell .container .left .example_down,
.contacts.table_cell .container .right .example_down{
    display: table-cell;
    vertical-align: top;
}

/* Float-cell------------------------------------------------------ */

.float .container:after {
    content: "";
    clear: both;
    display: block;
}

.navbar.float .container .logo,
.navbar.float .container .menu,
.navbar.float .container .search,
.short_info.float .container .left,
.about_us.float .container .left,
.contacts.float .container .left,
.short_info.float .container .right,
.about_us.float .container .right,
.contacts.float .container .right{
    float: left;
}

/* Flex------------------------------------------------------ */

.navbar.flex .container,
.short_info.flex .container,
.about_us.flex .container,
.about_us.flex .container .right .example_down,
.contacts.flex .container,
.contacts.flex .container .left .example_down,
.contacts.flex .container .right .example_down {
    display: flex;
}

/* Gallery psd------------------------------------------------------ */

.gallery .example .picture {
    position: relative;
    display: inline-block;
}
.gallery .example .picture .hover {
    position: absolute;
    top: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: -55px;
}
.gallery .example .picture .hover p{
    background-color: rgba(32, 32, 32, 0.57);
    text-align: center;
    font-size: 20px;
    display: none;
}
.gallery .example .picture:hover .hover p {
    display: block;
}

/* Fixed_menu------------------------------------------------------ */

a.fixed_link {
    text-decoration: none;
    color: white;
}
.fixed_menu {
    position: fixed;
    top: 50vh;
    background-color: black;
    margin-top: -84px;
    width: 250px;
}
.fixed_menu ul.nav_panel {
    text-align: left;
}
.fixed_menu ul.nav_panel li a:hover{
    color: #005cbf;
}
.fixed_menu ul.nav_panel li a{
    padding: 20px 50px;
    display: block;
}
.fixed_menu ul.nav_panel ul.accord {
    display: none;
    padding: 0 0 0 10px;
}
.fixed_menu ul.nav_panel ul.accord a {
    font-size: 14px;
}
.fixed_menu ul.nav_panel li:hover ul.accord {
    display: block;
}
.fixed_menu ul.nav_panel li ul.accord li {
    border-bottom: 1px dashed white;
}
.fixed_menu ul.nav_panel li ul.accord li:last-child {
    border-bottom: none;
}

/* Sprite------------------------------------------------------ */

.social_media {
    position: fixed;
    top: 50vh;
    right: 0;
    margin-top: -116px;
    width: 75px;
    background-color: white;
    border-radius: 30px;
}
.social_media .social_menu {
    margin: 10px;
}
.social_media .social_menu li a{
    display: block;
    width: 58px;
    height: 58px;
    background: url('images/social_media2.png');
}
.social_media .social_menu li+li a{
    background-position: -58px 0;
}
.social_media .social_menu li+li+li a{
    background-position: -116px 0;
}
.social_media .social_menu li+li+li+li a{
    background-position: -174px 0;
}
.social_media .social_menu li:hover a {
    transform: scale(0.7);
}
.social_media .social_menu li:hover a{
    background-position: 0 -58px;
}
.social_media .social_menu li+li:hover a{
    background-position: -58px -58px;
}
.social_media .social_menu li+li+li:hover a{
    background-position: -116px -58px;
}
.social_media .social_menu li+li+li+li:hover a{
    background-position: -174px -58px;
}

/* Style for color------------------------------------------------------ */

.container .title_bg h1 {
    background:url('images/bg_dark.jpg') no-repeat 50%/cover;
    font-size: 150px;
    font-weight: 800;
    color: rgba(0,0,0,0);
    padding: 20px;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Menu with links------------------------------------------------------ */

.menu_with_links {
    position: fixed;
    margin-top: -115px;
    top: 50vh;
    right: -120px;
    border-radius: 10px 0 0 10px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 60px 20px 60px 0 ;
    opacity: 0.7;
    z-index: 10;
}
.menu_with_links:hover  {
    opacity: 1;
    transition: all 2s;
    display: block;
    right: 0;
}
.menu_with_links .link_click {
    position: relative;
    right: 50px;
    transform: rotate(90deg);
    margin: 10px;
}
.menu_with_links .link_click p{
    color: white;
    font-size: 30px;
    padding: 20px;
}
.menu_with_links .links_panel {
    position: relative;
    right: 60px;
    transform: rotate(310deg);
}
.menu_with_links .links_panel li a{
    display: block;
    width: 39px;
    height: 32px;
    background: url('images/menu_icon_second2.png');
}
.menu_with_links .links_panel li+li a{
    background-position: -39px 0;
}
.menu_with_links .links_panel li+li+li a{
    background-position: -80px 0;
}
.menu_with_links .links_panel li+li+li+li a{
    background-position: -117px 0;
}
.menu_with_links .links_panel li:hover a {
    transform: scale(0.8);
}
/*.menu_with_links:hover  {
    opacity: 1;
    transition: all 2s;
    display: block;
    right: 0;
}
.menu_with_links .link_click {
    position: relative;
    right: 50px;
    transform: rotate(90deg);
    margin: 10px;
}
.menu_with_links .link_click p{
    color: white;
    font-size: 30px;
    padding: 20px;
}
.menu_with_links .click_me {
    position: relative;
    right: 60px;
}
.menu_with_links .click_me li {
    margin: 10px;
    position: absolute;
    transform: rotate(310deg);
}
.menu_with_links .click_me li:first-child {
    top: -110px;
    left: 150px;
}
.menu_with_links .click_me li:nth-child(2) {
    left: 120px;
    top: -70px;
}
.menu_with_links .click_me li:nth-child(3) {
    right: -50px;
    top: -70px;
}
.menu_with_links .click_me li:last-child {
    bottom: -20px;
    left: 150px;
}
.menu_with_links .click_me li a{
    display: block;
    width: 39px;
    height: 32px;
    background: url('images/menu_icon_second2.png');
}
.menu_with_links .click_me li+li a{
    background-position: -39px 0;
}
.menu_with_links .click_me li+li+li a{
    background-position: -80px 0;
}
.menu_with_links .click_me li+li+li+li a{
    background-position: -117px 0;
}
.menu_with_links .click_me li:hover a {
    transform: scale(0.8);
}*/

/*forms------------------------------------------------------ */

.our_form .container {
    border-top: 1px dashed lightgray;
}
.our_form .container form {
    margin: 100px 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.our_form .container form .your_name input[type="text"]::placeholder {
    color: red;
}
.our_form .container form .mail input[type="email"]::placeholder {
    color: green;
}
.our_form .container form .your_name input,
.our_form .container form .mail input{
    margin: 20px 0;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: #b0e0ff;
    padding: 0 15px;
    caret-color: red;
}
.our_form .container form .your_name input {
    transform: translateX(20px);
}
.our_form .container form .mail input {
    transform: translateX(10px);
}
.our_form .container form .radio_box input {
    margin: 0 20px;
    transform: translateX(17px);
}
.our_form .container form .radio_box input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #b0e0ff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid blue;
}
.our_form .container form .radio_box  input[type='radio']:checked:after {
    background-color: blue;
}
.our_form .container form .radio_box  input[type='radio']:hover {
    transform: translate(7px, -3px) scale(2);
}
.our_form .container form select.country {
    width: 250px;
    height: 40px;
    overflow: hidden;
    background: url("images/angle_down1.png") no-repeat right #b0e0ff;
    background-size: 20px;
    background-position-x: 220px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid blue;
}
.our_form .container form select.country {
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.our_form .container form button {
    margin: 20px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: #b0e0ff;
    padding: 10px 20px;
    transform: translateX(40px);
}


/*animation------------------------------------------------------ */

.animation {
    background-color: black;
    /*animation: spin 10s linear infinite;*/
    height: 100vh;
    overflow: hidden;
}
@keyframes change_color {
    0% {
        background-color: #00c4c8;
    }
    20% {
        background-color: #ff00c3;
    }
    40% {
        background-color: #ff0035;
    }
    60% {
        background-color: #ff7d00;
    }
    60% {
        background-color: #00ff22;
    }
    100% {
        background-color: #001ae2;
    }
}
.animation .figure .logotype p {
    animation: change_color 7s ease infinite;
    font-family: "NovitoNova Regular";
    font-size: 300px;
    text-align: center;
    margin-top: 200px;
    line-height: 120px;
    padding: 100px 0;
    color: rgba(0,0,0,0);
    background-clip: text;
    -webkit-background-clip: text;
}

.animation .figure .circle {
    position: relative;
    top: 260px;
    left: 705px;
    margin-top: 0;
    width: 50px;
    height: 50px;
    background: #fff357;
    border-radius: 50px;
    -webkit-box-shadow: 13px -8px 206px 31px rgba(255,255,255,1);
    -moz-box-shadow: 13px -8px 206px 31px rgba(255,255,255,1);
    box-shadow: 13px -8px 206px 31px rgba(255,255,255,1);
    animation: change_color 7s ease infinite;
}

.animation:hover .circle {
    animation: light 1s ease infinite;

}

@keyframes light {
    0% {
        box-shadow: 13px -8px 206px 31px rgb(163, 255, 91);
    }
    5% {
        transform: translateY(1px);
        box-shadow: 13px -8px 206px 31px rgb(239, 255, 159);
    }
    10% {
        transform: translateY(-1px);
        box-shadow: 13px -8px 206px 31px rgb(83, 98, 255);
    }
    20% {
        transform: translateY(1px);
        box-shadow: 13px -8px 206px 31px rgb(86, 255, 248);
    }
    30% {
        transform: translateY(-1px);
        box-shadow: 13px -8px 206px 31px rgb(210, 41, 255);
    }
    40% {
        transform: translateY(1px);
        box-shadow: 13px -8px 206px 31px rgb(208, 243, 255);
    }
    50% {
        transform: translateY(-1px);
        box-shadow: 13px -8px 206px 31px rgb(255, 147, 157);
    }
    100% {
        transform: translateY(1px);
        box-shadow: 13px -8px 206px 31px rgb(174, 127, 255);
    }
}
* {
    box-sizing: border-box;
}
.animation  .stars {
    text-align: center;

}
.animation  .star {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
   /* background: linear-gradient(to bottom, rgb(250, 255, 111) 0%, rgb(255, 175, 70) 100%); 100%);*/
    position: relative;
    -webkit-box-shadow: 13px -8px 206px 31px rgba(255,255,255,1);
    -moz-box-shadow: 13px -8px 206px 31px rgba(255,255,255,1);
    box-shadow: 13px -8px 206px 31px rgba(255,255,255,1);
    animation:  rotate_star 7s linear infinite;
}
.animation  .star:first-child {
    position: relative;
    bottom: 290px;
    left: 104px;
}
.animation  .star:nth-child(2) {
    position: relative;
    bottom: 333px;
    left: 106px;
}
.animation  .star:nth-child(3) {
    position: relative;
    bottom: 360px;
    left: 116px;
}
.animation  .star:nth-child(4) {
    position: relative;
    bottom: 370px;
    left: 130px;
}
.animation  .star:nth-child(5) {
    position: relative;
    bottom: 360px;
    left: 149px;
}
.animation  .star:nth-child(6) {
    position: relative;
    bottom: 333px;
    left: 159px;
}
.animation  .star:nth-child(7) {
    position: relative;
    bottom: 290px;
    left: 164px;
}
.animation  .star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    animation: change_color 7s ease-in-out infinite;
    z-index: 1;
}

.animation  .star,
p

@keyframes rotate_star {
    60% {
        transform: rotate(360deg);
    }
}
.animation:hover .star{
    animation: another_place 1s ease infinite;
}

@keyframes another_place {
    0% {width: 5px; height: 5px; }
    10% {width: 7px; height: 7px; }
    20% {width: 9px; height: 9px;}
    30% {width: 11px; height: 11px; }
    40% {width: 13px; height: 13px;  }
    50% {width: 15px; height: 15px;  }
    60% {width: 17px; height: 17px; box-shadow: 1px 1px 3px 1px #ffdd00, -1px -1px 3px #ff390d;}
    70% {width: 19px; height: 19px;  box-shadow: 2px 2px 3px 1px #ff0035, -2px -2px 3px #ff00c0;}
    80% {width: 22px; height: 22px; box-shadow: 3px 3px 4px 1px #00c4c8, -3px -3px 4px #123fff;}
    90% {width: 25px; height: 25px;}
    100% {width: 27px; height: 27px;}
}

/*figures------------------------------------------------------ */

.figures .boat {
    margin: 500px 100px;
    border-top: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 500px;
    position: relative;
}
.figures .boat .part_of_boat {
    width: 100px;
    height: 100px;
    transform: rotate(45deg) translate(-1000px, -1500px);
    background-color: red;
}
.figures .boat .sail {
    background-color: red;
    height: 300px;
    width: 10px;
    transform: translate(200px, -400px);
}
.figures .boat .sail:before {
    content: "";
    width: 10px;
    height: 200px;
    position: absolute;
    right: 100%;
    bottom: 20px;
    border-radius: 120px 70px 70px 120px;
    border-top: 30px solid transparent;
    border-left: 100px solid blue;
    border-bottom: 60px solid transparent;
}
.figures .flag {
    width: 70px;
    height: 150px;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: #ff3b00;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(270deg) translate(700px, 250px);
}
.figures .flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid white;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}
.figures .second_flag {
    transform: translate(210px, -750px);
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 100px solid #ff7ebd;
    border-bottom: 70px solid transparent;
}
.figures .second_flag:after {
    content: "";
    position: absolute;
    right: 60px;
    bottom: -40px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 40px solid white;
    border-bottom: 40px solid transparent;
}
.figures .four_circles {
    transform: rotate(90deg) translate(-600px, 0px);
}
.boat .four_circles .circle {
    width: 50px;
    height: 50px;
    background: brown;
    border-radius: 50px;
    margin: 5px;
}
.figures .boat:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    bottom: 0;
    border-top: 100px solid transparent;
    border-right: 100px solid red;
    border-bottom: 100px solid transparent;
}
.figures .boat .paddle,
.figures .boat .paddle1,
.figures .boat .paddle2,
.figures .boat .paddle3{
    transform: rotate(30deg) translate(-400px, -810px);
    width: 10px;
    height: 200px;
    background: blue;
}
.figures .boat .paddle1 {
    transform: rotate(30deg) translate(-450px, -1010px);
}
.figures .boat .paddle2 {
    transform: rotate(30deg) translate(-500px, -1210px);
}
.figures .boat .paddle3 {
    transform: rotate(30deg) translate(-550px, -1420px);
}
.figures .boat .paddle:before,
.figures .boat .paddle1:before,
.figures .boat .paddle2:before,
.figures .boat .paddle3:before {
    content: "";
    width: 0;
    height: 40px;
    position: absolute;
    left: -25px;
    top: 100%;
    border-radius: 50px 50px 0 0;
    border-top: 0 solid red;
    border-right: 30px solid red;
    border-left: 30px solid red;
    border-bottom: 30px solid red;
    background-repeat: repeat-x;
}
.figures .figure1 {
    position: relative;
    margin: 200px 0;
    width: 200px;
    height: 70px;
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(127deg, rgba(51,51,51,1) 0%, rgba(79,79,79,1) 5%, rgba(0,0,0,1) 29%, rgba(145,145,145,1) 33%, rgba(0,0,0,1) 39%, rgba(36,36,36,1) 59%, rgba(143,143,143,1) 64%, rgba(36,36,36,1) 69%, rgba(15,15,15,1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(51,51,51,1) 0%, rgba(79,79,79,1) 5%, rgba(0,0,0,1) 29%, rgba(145,145,145,1) 33%, rgba(0,0,0,1) 39%, rgba(36,36,36,1) 59%, rgba(143,143,143,1) 64%, rgba(36,36,36,1) 69%, rgba(15,15,15,1) 100%);
    background: -o-linear-gradient(127deg, rgba(51,51,51,1) 0%, rgba(79,79,79,1) 5%, rgba(0,0,0,1) 29%, rgba(145,145,145,1) 33%, rgba(0,0,0,1) 39%, rgba(36,36,36,1) 59%, rgba(143,143,143,1) 64%, rgba(36,36,36,1) 69%, rgba(15,15,15,1) 100%);
    background: -ms-linear-gradient(127deg, rgba(51,51,51,1) 0%, rgba(79,79,79,1) 5%, rgba(0,0,0,1) 29%, rgba(145,145,145,1) 33%, rgba(0,0,0,1) 39%, rgba(36,36,36,1) 59%, rgba(143,143,143,1) 64%, rgba(36,36,36,1) 69%, rgba(15,15,15,1) 100%);
    background: linear-gradient(127deg, rgba(51,51,51,1) 0%, rgba(79,79,79,1) 2%,
    rgba(0,0,0,1) 28%, rgba(145,145,145,1) 30%, rgba(0,0,0,1) 34%,
    rgba(0,0,0,1) 37%, rgba(145,145,145,1) 39%, rgba(0,0,0,1) 43%,
    rgba(0,0,0,1) 46%, rgba(145,145,145,1) 48%, rgba(0,0,0,1) 52%,
    rgba(0,0,0,1) 55%, rgba(145,145,145,1) 57%, rgba(0,0,0,1) 61%,
    rgba(0,0,0,1) 64%, rgba(145,145,145,1) 66%, rgba(0,0,0,1) 70%,
    rgba(36,36,36,1) 59%, rgba(143,143,143,1) 64%, rgba(36,36,36,1) 69%, rgba(15,15,15,1) 100%);
}
.figures .figure1:before {
    content: "";
    width: 50px;
    height: 10px;
    position: absolute;
    right: 100%;
    bottom: -46px;
    border-radius: 70px 0 0 70px;
    border-top: 80px solid #4F4F4F;
    border-right: 50px solid #4F4F4F;
    border-left: 0 solid #4F4F4F;
    border-bottom: 80px solid #4F4F4F;
}
.figures .figure2 {
    position: relative;
    margin: 350px 0 0;
    width: 300px;
    height: 40px;
    content: "";
    border-radius: 0 40px 40px 0;
    border-top: 10px solid #4F4F4F;
    border-right: 10px solid #4F4F4F;
    border-left: 200px solid #4F4F4F;
    border-bottom: 10px solid #4F4F4F;
    transform: rotate(45deg);
}
.figures .figure2:before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    right: 250px;
    bottom: -100px;
    border-radius: 60px;
    border-top: 60px solid #4F4F4F;
    border-right: 60px solid #4F4F4F;
    border-left: 0 solid #4F4F4F;
    border-bottom: 60px solid #4F4F4F;
}
.figures .figure3 {
    margin: 300px 0;
    width: 100px;
    height: 55px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(0,0,0,0) 33%, rgba(107,120,122,1) 33%, rgba(107,120,122,1) 100%);
    position: relative;
}
.figures .figure3:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid rgba(107,120,122,1);
}
.figures .figure3:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid rgba(107,120,122,1);
}
