html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------ */

body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    background-color: #fafafc;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    font-family: "Ebrima Bold";
}
h1 {
    padding: 30px 0;
    font-size: 50px;
}
h2 {
    padding: 20px 0;
    color: darkslategrey;
    font-size: 35px;
}
h3 {
    padding: 10px 0;
    color: grey;
    font-size: 25px;
}
p, img {
    padding: 20px;
}
p {
    text-align: justify;
    line-height: 30px;
}
a.look_more {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
a.look_more:hover {
    text-decoration: underline;
    color: #0c5460;
}
a.menu {
    font-size: 16px;
    padding: 10px 20px;
    display: block;
}

/* ------------------------------------------------------ */

.example {
    border-bottom: 1px dashed gray;
    padding: 50px 0;
}

/* Inline-block--------------------------------------------*/

.short_info .example,
.about_us .example,
.contacts .example {
    padding: 10px 0;
}
.navbar {
    background-color: black;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar a:hover {
    color: #005cbf;
}

/* Menu------------------------------------------------------ */

.navbar .menu {
    padding: 0 100px;
}
.navbar .menu ul.navigation {
    text-align: right;
    font-size: 0;
    z-index: 20;
    position: relative;
}
.navbar .menu ul.navigation li {
    display: inline-block;
    font-size: 35px;
    position: relative;
}
.navbar .menu li a{
    display: block;
    padding: 10px ;
    position: relative;
    transition: background 1s ease;
}
.navbar .menu ul.navigation > li > a:before {
    content: "";
    width: 38px;
    height: 33px;
    display: inline-block;
    background: url('images/icon_menu.png');
    position: absolute;
    left: 0;
    top: 0;
}
.navbar .menu ul.navigation > li:last-child > a {
    text-align: left;
    width: 120px;
}
.navbar .menu ul.navigation > li:last-child > a:before {
    left: auto;
    right: 0;
}
.navbar .menu ul.navigation > li+li > a:before{
    background-position: -38px 0;
}
.navbar .menu ul.navigation > li+li+li > a:before{
    background-position: -76px 0;
}
.navbar .menu ul.navigation > li+li+li > a:hover:before {
    background-position: -114px 0;
}
.navbar .menu ul.navigation > li > ul.combo_box > li:last-child > a {
    text-align: left;
}
.navbar .menu ul.navigation > li > ul.combo_box > li:last-child > a:before {
    left: auto;
    right: 0;
    content: "";
    width: 38px;
    height: 33px;
    display: inline-block;
    background: url('images/icon_menu.png');
    position: absolute;
    top: 0;
    background-position: -152px 0;
}
.navbar .menu ul.navigation > li > ul.combo_box > li:last-child > a:hover:before {
    background-position: -187px 0;
}
.navbar .menu ul.combo_box,
.navbar .menu ul.combo_box ul.second_combo_box {
    overflow: hidden;
    transition: height 600ms, opacity 600ms;
    transition-timing-function: ease-in-out;
    background-color: black;
    position: absolute;
    top: 100%;
    padding: 10px 0 0;
    height: 0;
    left: 0;
    opacity: 0;
}
.navbar .menu ul.combo_box ul.second_combo_box {
    padding: 0;
    transition: width 2s, height 2s, opacity 600ms, transform 0.5s;
}
.navbar .menu ul.navigation li:hover ul.combo_box,
.navbar .menu ul.navigation ul.combo_box li:hover ul.second_combo_box {
    overflow: visible;
    opacity: 1;
    height: 231px;
}
.navbar .menu ul.navigation ul.combo_box li:hover ul.second_combo_box {
    transform: rotate(360deg)
}
.navbar .menu ul.navigation ul.combo_box li{
    margin: 0;
    background-color: black;
    border-bottom: 1px solid white;
}
.navbar .menu ul.navigation ul.combo_box li:last-child {
    border-bottom: none;
}
.navbar .menu ul.combo_box ul.second_combo_box {
    left: 100%;
    top: 0;
}
.navbar .menu ul.navigation ul.combo_box li:hover ul.second_combo_box {
    height: 173px;
}
.navbar .menu a {
    width: 100px;
    padding: 0 10px;
    display: block;
}
.navbar .menu .combo_box a {
    margin: 10px;
}

/*------------------------------------------------------ */

.navbar .container,
.short_info .container,
.about_us .container,
.contacts .container{
    padding: 20px 0;
    text-align: center;
}

.navbar.inline_block .container,
.short_info.inline_block .container,
.about_us.inline_block .container,
.contacts.inline_block .container{
    font-size: 0;
}
.navbar.inline_block .container div,
.short_info.inline_block .container div,
.about_us.inline_block .container div,
.contacts.inline_block .container div {
    display: inline-block;
    font-size: 16px;
}
.navbar .container .logo,
.navbar .container .search {
    width: 10%;
}
.short_info .container .left,
.contacts .container .left {
    width: 60%;
}
.short_info .container .right,
.contacts .container .right {
    width: 40%;
}
.about_us .container .left{
    width: 40%;
}
.about_us .container .right{
    width: 60%;
}
.about_us .container .right .example_down .left,
.about_us .container .right .example_down .right,
.contacts .container .left .example_down .right,
.contacts .container .left .example_down .left,
.contacts .container .right .example_down .left,
.contacts .container .right .example_down .right {
    width: 49%;
}

/* Table-cell------------------------------------------------------ */

.navbar.table_cell .container div,
.short_info.table_cell .container .left,
.short_info.table_cell .container .right,
.about_us.table_cell .container .left,
.about_us.table_cell .container .right,
.contacts.table_cell .container .left,
.contacts.table_cell .container .right,
.about_us.table_cell .container .right .example_down,
.contacts.table_cell .container .left .example_down,
.contacts.table_cell .container .right .example_down{
    display: table-cell;
    vertical-align: top;
}

/* Float-cell------------------------------------------------------ */

.float .container:after {
    content: "";
    clear: both;
    display: block;
}

.navbar.float .container .logo,
.navbar.float .container .menu,
.navbar.float .container .search,
.short_info.float .container .left,
.about_us.float .container .left,
.contacts.float .container .left,
.short_info.float .container .right,
.about_us.float .container .right,
.contacts.float .container .right{
    float: left;
}

/* Flex------------------------------------------------------ */

.navbar.flex .container,
.short_info.flex .container,
.about_us.flex .container,
.about_us.flex .container .right .example_down,
.contacts.flex .container,
.contacts.flex .container .left .example_down,
.contacts.flex .container .right .example_down {
    display: flex;
}

/* Gallery psd------------------------------------------------------ */

.gallery .example .picture {
    position: relative;
    display: inline-block;
}
.gallery .example .picture .hover {
    position: absolute;
    top: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: -55px;
}
.gallery .example .picture .hover p{
    background-color: rgba(32, 32, 32, 0.57);
    text-align: center;
    font-size: 20px;
    display: none;
}
.gallery .example .picture:hover .hover p {
    display: block;
}

/* Fixed_menu------------------------------------------------------ */

a.fixed_link {
    text-decoration: none;
    color: white;
}
.fixed_menu {
    position: fixed;
    top: 50vh;
    background-color: black;
    margin-top: -84px;
    width: 250px;
}
.fixed_menu ul.nav_panel {
    text-align: left;
}
.fixed_menu ul.nav_panel li a:hover{
    color: #005cbf;
}
.fixed_menu ul.nav_panel li a{
    padding: 20px 50px;
    display: block;
}
.fixed_menu ul.nav_panel ul.accord {
    display: none;
    padding: 0 0 0 10px;
}
.fixed_menu ul.nav_panel ul.accord a {
    font-size: 14px;
}
.fixed_menu ul.nav_panel li:hover ul.accord {
    display: block;
}
.fixed_menu ul.nav_panel li ul.accord li {
    border-bottom: 1px dashed white;
}
.fixed_menu ul.nav_panel li ul.accord li:last-child {
    border-bottom: none;
}

/* Sprite------------------------------------------------------ */

.social_media {
    position: fixed;
    top: 50vh;
    right: 0;
    margin-top: -116px;
    width: 75px;
    background-color: white;
    border-radius: 30px;
}
.social_media .social_menu {
    margin: 10px;
}
.social_media .social_menu li a{
    display: block;
    width: 58px;
    height: 58px;
    background: url('images/social_media2.png');
}
.social_media .social_menu li+li a{
    background-position: -58px 0;
}
.social_media .social_menu li+li+li a{
    background-position: -116px 0;
}
.social_media .social_menu li+li+li+li a{
    background-position: -174px 0;
}
.social_media .social_menu li:hover a {
    transform: scale(0.7);
}
.social_media .social_menu li:hover a{
    background-position: 0 -58px;
}
.social_media .social_menu li+li:hover a{
    background-position: -58px -58px;
}
.social_media .social_menu li+li+li:hover a{
    background-position: -116px -58px;
}
.social_media .social_menu li+li+li+li:hover a{
    background-position: -174px -58px;
}

/* Style for color------------------------------------------------------ */

.container .title_bg h1 {
    background:url('images/bg_dark.jpg') no-repeat 50%/cover;
    font-size: 150px;
    font-weight: 800;
    color: rgba(0,0,0,0);
    padding: 20px;
    background-clip: text;
    -webkit-background-clip: text;
}