/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:91979f068424f02c50194f3e07bbebf0:deec5a327e57deadbfa1736901f3d882:61e53af8b0b91020742bc548d44c899f$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(sprites.png);}

.angle_left {width:17px; height:13px; background-position: -328px -105px}
.angle_left_book {width:32px; height:31px; background-position: -389px -2px}
.angle_right {width:17px; height:13px; background-position: -359px -31px}
.angle_right_book {width:32px; height:31px; background-position: -389px -37px}
.bg_soc_link {width:49px; height:48px; background-position: -258px -2px}
.candy {width:44px; height:49px; background-position: -252px -64px}
.cherry {width:44px; height:47px; background-position: -300px -54px}
.facebook {width:12px; height:22px; background-position: -373px -90px}
.location {width:19px; height:32px; background-position: -389px -88px}
.maffin {width:44px; height:43px; background-position: -311px -2px}
.mail {width:28px; height:12px; background-position: -389px -72px}
.phone {width:20px; height:27px; background-position: -349px -90px}
.plus11 {width:56px; height:58px; background-position: -198px -2px}
.plus22 {width:70px; height:58px; background-position: -124px -2px}
.plus33 {width:56px; height:50px; background-position: -192px -64px}
.plus44 {width:64px; height:53px; background-position: -124px -64px}
.plus_bg {width:118px; height:118px; background-position: -2px -2px}
.slider {width:25px; height:25px; background-position: -359px -2px}
.slider_hover {width:37px; height:37px; background-position: -348px -49px}
.vk {width:24px; height:14px; background-position: -300px -105px}
