@import url('PF_ Medium/fonts.css');
@import url('PF_Bold/fonts.css');
@import url('PF_Light/fonts.css');
@import url('PF_Thin/fonts.css');
@import url('PF_Regular/fonts.css');
@import url('flow_regular/fonts.css');
@import url('flow_bold/fonts.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------ */
.body {
    font-family: "Conv_PF Din Text Comp Pro Regular", 'Open Sans', sans-serif;;
    color: #959595;
    font-size: 16px;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
p.thin {
    font-family: "PF Din Text Comp Pro Thin";
    font-size: 18px;
}
a.language_link {
    font-family: "PF Din Text Comp Pro Medium";
    color: #959595;
    font-size: 14px;
    text-decoration: none;
}

/* Change style!!!!!!!!!!!!!! */

a.language_link:hover {
    background-color: #65baaf;
    color: white;
}
a.link_menu {
    font-family: "PF Din Text Comp Pro Thin";
    text-decoration: none;
    color: black;
    font-size: 16px;
}
a.link_menu:hover {
    border-bottom: 1px solid #65baaf;
}
h1.title {
    font-family: "PF Din Text Comp Pro Medium";
    letter-spacing: 7px;
    font-size: 72px;
    padding: 20px 0;
}
a.book_links {
    text-decoration: none;
    color: #8f5926;
    font-size: 16px;
}
a.book_links:hover {
    color: #65baaf;
}
a.read_news {
    text-decoration: none;
    color: #7d7d7d;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #7d7d7d;
    border-radius: 30px;
}
a.read_news:hover {
    background-color: #65baaf;
}
a.logo {
    margin: 0 20px 20px 0;
}
a.link_footer {
    text-decoration: none;
    font-size: 20px;
    font-family: "PF Din Text Comp Pro Thin";
    color: #7d7d7d;
}
a.link_footer:hover {
    border-bottom: 1px solid #65baaf;
}

/* HEADER------------------------------------------------------ */
.header {
    background-color: white;
    position: relative;
    z-index: 10;
}
.header .container .contacts{
    display: flex;
    justify-content: space-between;
}
.header .container .contacts {
    margin: 12px 0 0 0;
}
.header .container .contacts .our_contacts {
    width: 37%;
}
.header .container .contacts .our_contacts p.thin img {
    margin: 0 10px 0 0;
}
.header .container .contacts .our_contacts p.thin {
    margin: 0 0 10px 0;
}
.header .container .contacts .our_contacts p.thin:nth-child(2) {
    transform: translate(-10px, 0px);
}
.header .container .contacts a.logo img {
    background-color: white;
    border-radius: 100px;
    padding: 20px;
}
.header .container .contacts ul.language {
    display: flex;
}
.header .container .contacts form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #65baaf;
}
.header .container .contacts form button {
    width: 37px;
    height: 34px;
    background-color: #65baaf;
    color: white;
    border-radius: 50px;
    font-size: 17px;
    border: none;
    padding: 5px;
}
.header .container .contacts ul.language li {
    padding: 0 5px;
}
.header .container .contacts ul.language li:last-child {
    padding: 0;
}
.header ul.menu {
    letter-spacing: 1px;
    position: relative;
    z-index: 20;
    margin: -112px 0 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul.menu li:last-child {
    margin: 0 17px 0 0;
}
.header ul.menu li {
    margin: 0 17px 0 0;
    vertical-align: middle;
    font-family: "PF Din Text Comp Pro Thin";
    font-size: 16px;
}
.header ul.menu li:nth-child(4) {
    margin: 0 80px 0 0;
}
.header ul.menu li:nth-child(5) {
    margin: 0 20px 0 160px;
}
.header ul.menu li:last-child {
    margin: 0;
}

/* BANNER------------------------------------------------------ */

.banner {
    background: url("image/banner.png") no-repeat bottom;
    background-size: cover;
    color: white;
    position: relative;
}
.banner:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
}
.banner .container {
    text-align: center;
    position: relative;
}
.banner .container p {
    font-size: 20px;
    font-family: "PF Din Text Comp Pro Thin";
    letter-spacing: 2px;
    padding: 60px 0;
}
.banner .container h2 {
    font-family: "Flow Regular";
    font-size: 32px;
    padding: 20px 0;
}
.banner .container ul.slider {
    padding: 170px 0 50px 0;
}
.banner .container ul.slider li {
    display: inline-block;
}
.banner .container ul.slider a{
    background-image: url("image/slider.png");
    display: block;
    width: 25px;
    height: 25px;
    margin: 6px;
}
.banner .container ul.slider li:hover{
    background-image: url("image/slider_hover.png");
    width: 37px;
    height: 37px;
    margin: 0;
}
/* blog welcome------------------------------------------------------ */

.welcome {
    border-bottom: 1px solid  #959595;
    max-height: 360px;
}
.welcome .container h2 {
    font-size: 36px;
    text-align: center;
    max-width: 400px;
    color: #959595;
    padding: 10px 0 0 0;
    margin: 0 auto;
    font-family: "PF Din Text Comp Pro Thin";
}
.welcome .container .pictures img {
    vertical-align: middle;
}
.welcome .container .pictures img:nth-child(1) {
    transform: translate(-125px, -40px);
}
.welcome .container .pictures img:nth-child(2) {
    transform: translate(-70px, -60px);
}
.welcome .container .pictures img:nth-child(3) {
    transform: translate(790px, -425px);
}

/* Production------------------------------------------------------ */

.production .container h2,
.our_pluses .container h2,
.our_values .container h2,
.fairy_life .container h2 {
    font-family: "FlowBold";
    padding: 30px 0 80px 0;
    color: #65baaf;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

/* before for donut------------------------------------------------------*/
.production .container {
    max-width: 1030px;
}
.production .container:before {
    position: relative;
    left: 500px;
    top: -10px;
    content: "";
    background: white url("image/maffin.png") no-repeat;
    background-size: 100%;
    background-position: center;
    width: 37px;
    height: 35px;
    border-radius: 50px;
    padding: 25px;
}
.production .container .two_sliders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.production .container .two_sliders .book_slider {
    position: relative;
    background: url("image/book.png") no-repeat;
    width: 724px;
    height: 427px;
    background-size: 100%;
}
.production .container .two_sliders .product_mark {
    position: absolute;
    top: 0;
    left: 0;
}
.production .container .two_sliders .product_mark li {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}
.production .container .two_sliders .product_mark li a.shop_mark {
    color: white;
    text-decoration: none;
}
.production .container .two_sliders .product_mark li:nth-child(1){
    top: -35px;
    left: 100px;
    background: url("image/bg_link_book1.png") no-repeat;
    width: 181px;
    height: 100px;
    background-size: 100%;
    padding-left: 10px;
    padding-top: 10px;
}
.production .container .two_sliders .product_mark li:nth-child(2){
    top: -65px;
    left: 290px;
    background: url("image/bg_link_book2.png") no-repeat;
    width: 157px;
    height: 100px;
    background-size: 100%;
    padding-left: 40px;
    padding-top: 45px;
}
.production .container .two_sliders .product_mark li:nth-child(3){
    top: -35px;
    left: 450px;
    background: url("image/bg_link_book3.png") no-repeat;
    width: 208px;
    height: 57px;
    background-size: 100%;
    padding-left: 20px;
    padding-top: 15px;
}
.production .container .two_sliders .book_slider .about_product {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.production .container .two_sliders .book_slider .about_product .picture_of_product,
.production .container .two_sliders .book_slider .about_product .name_of_product {
    width: 40%;
    text-align: center;
}
.production .container .two_sliders .book_slider .about_product .picture_of_product a {
    margin: 20px 0 0 0;
    display: block;
}
.production .container .two_sliders .book_slider .about_product .picture_of_product {
    margin: 60px 0 0px 80px;
}
.production .container .two_sliders .book_slider .about_product .name_of_product {
    margin: 30px 60px 0 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product h3 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color:  #8f5926;
    font-family: "PF Din Text Comp Pro Medium";
    margin: 25px 0 0 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product p {
    font-family: "PF Din Text Comp Pro Thin";
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #7d7d7d;
    margin: 10px 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product p:last-child {
    margin: 0 0 40px 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product img.underline {
    margin: 25px 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles {
    margin: 40px 0 0 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li {
    display: inline-block;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links_right {
    text-decoration: none;
    color: #65baaf;
}
.production .container .two_sliders .cookie_slider {
    text-align: center;
}
.production .container .two_sliders .cookie_slider a {
    display: inline-block;
    margin-top: 250px;
    vertical-align: top;
}
.production .container .two_sliders .cookie_slider .cookies a img{
    vertical-align: middle;
}
.production .container .two_sliders .cookie_slider p.new_cookie {
    padding: 20px 0 0 0;
    color: #65baaf;
    font-size: 18px;
    text-transform: uppercase;
}
.production .container .two_sliders .cookie_slider p.new_cookie span {
    color: #7d7d7d;
    font-size: 12px;
}

/* Our_pluses------------------------------------------------------ */

.our_pluses  .container:before {
    position: relative;
    left: 440px;
    top: -10px;
    content: "";
    background: white url("image/cherry.png") no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 50px;
    padding: 25px 35px;
}
.our_pluses {
    margin: 90px 0 20px 0;
    background-color: rgba(115, 212, 216, 0.25);
}
.our_pluses .container h2 {
    margin: 50px 0;
    padding: 0;
}
.our_pluses .container .four_pluses {
    display: flex;
    justify-content: space-around;
    color: #915b27;
    padding: 0 0 70px 0;
}
.our_pluses .container .four_pluses .plus {
    font-family: "PF Din Text Comp Pro Thin";
    font-size: 20px;
    width: 25%;
    text-align: center;
}
.our_pluses .container .four_pluses .plus p {
    padding: 20px 0 0 0;
}

/* Our_values------------------------------------------------------ */

.our_values {
    border-bottom: 1px solid #959595;
    position: relative;
}
.our_values  .container {
    text-align: center;
    margin: 0 auto 90px;
}
.our_values:before {
    content: "";
    background-image: url("image/flour.png");
    background-repeat: no-repeat;
    width: 655px;
    height: 844px;
    position: absolute;
    z-index: -5;
    top: -160px;
    left: 0;
}
.our_values::after {
    content: "";
    background-image: url("image/dough.png");
    background-repeat: no-repeat;
    width:559px;
    height: 637px;
    position: absolute;
    top: 300px;
    right: 0;
    z-index: 5;
}
.our_values  .container h2:before {
    content: "";
    background: url("image/cup.png") no-repeat;
    width: 200px;
    height: 20px;
    background-size: 100%;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -100px;
}
.our_values  .container p {
    font-size: 24px;
    color: #7d7d7d;
    padding: 20px 0;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.our_values  .container .video {
    margin: 20px 0;
    background-image: url("image/border_for_video.png");
    width: 593px;
    height: 413px;
    display: inline-block;
    padding-top: 35px;
    box-sizing: border-box;
}

/* fairy_life------------------------------------------------------ */

.fairy_life .container {
    position: relative;
    text-align: center;
    margin: 50px auto;
}
.fairy_life .container:before {
    content: "";
    position: absolute;
    left: 450px;
    top: -80px;
    background: white url("image/candy.png") no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 50px;
    padding: 25px 35px;
}
.fairy_life .container h2 {
     margin: 10px 0 70px 0;
     padding: 0;
}
.fairy_life .container .our_meeting {
    margin: 0 0 60px 0;
}
.fairy_life .container .our_meeting,
.fairy_life .container .our_meeting .meet {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fairy_life .container .our_meeting .meet {
    margin-right: 50px;
}
.fairy_life .container .our_meeting .meet:last-child {
    margin: 0;
}
.fairy_life .container .our_meeting .meet .about_meet {
    margin: 0 0 0 20px;
    text-align: left;
}
.fairy_life .container .our_meeting .meet h3 {
    padding: 0 0 10px 0;
    color: #caa977;
    font-size: 22px;
}

.fairy_life .container .our_meeting .meet p {
    color: #7d7d7d;
    font-size: 20px;
    font-family: "PF Din Text Comp Pro Thin";
}

/* map------------------------------------------------------ */

.map {
}
.map .container {
    position: relative;
}
.map .container form.form_on_map {
    position: absolute;
    top: -497px;
    background-color:  #65baaf;
    max-width: 340px;
    padding: 20px 0;
    font-size: 22px;
}
.map .container form div {
    margin: 0 20px;
}
.map .container form p {
    color: white;
    font-size: 42px;
    text-align: center;
}
.map .container form input {
    caret-color: white;
    margin: 10px 0;
    width: 300px;
    height: 45px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}
.map .container form textarea {
    margin: 10px 0;
}
.map .container form input::placeholder,
.map .container form textarea::placeholder {
    color: white;
}
.map .container form input[type='text'],
.map .container form input[type='email'],
.map .container form input[type='tel'] {
    color: white;
}
.map .container form textarea {
    color: white;
    resize: none;
    caret-color: white;
    width: 297px;
    height: 108px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}
.map .container form button {
    margin: 20px 0 0 0;
    font-size: 20px;
    transform: translate(100px, 0);
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 30px;
}
.map .container form button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
/* map------------------------------------------------------ */

.footer .container {
    margin: 30px auto;
    position: relative;
}
.footer .container .footer_nav,
.footer .container .footer_social_links {
    font-size: 20px;
    font-family: "PF Din Text Comp Pro Thin";
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.footer .container .footer_nav ul.menu_footer {
    max-width: 150px;
}
.footer .container .footer_nav ul.contacts_footer {
    color: #7d7d7d;
    max-width: 220px;
    margin: 0 0 0 40px;
}
.footer .container .footer_nav ul.contacts_footer li {
    padding: 10px 0;
}
.footer .container .footer_nav ul.contacts_footer li:nth-child(2):before {
    position: absolute;
    top: 50px;
    right: 610px;
    content: "";
    background-image: url("image/location.png");
    width: 19px;
    height: 32px;
    background-repeat: no-repeat;
}
.footer .container .footer_nav ul.contacts_footer li:nth-child(3):before {
    position: absolute;
    top: 110px;
    right: 610px;
    content: "";
    background-image: url("image/phone.png");
    width: 20px;
    height: 27px;
    background-repeat: no-repeat;
}
.footer .container .footer_nav ul.contacts_footer li:nth-child(4):before {
    position: absolute;
    top: 175px;
    right: 610px;
    content: "";
    background-image: url("image/mail.png");
    width: 28px;
    height: 12px;
    background-repeat: no-repeat;
}
.footer .container .footer_nav form {
    background: url("image/border_in_footer.png") no-repeat;
    width: 324px;
    height: 212px;
    padding: 20px 35px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
}
.footer .container .footer_nav form label {
    font-family: "PF Din Text Comp Pro Medium";
    font-size: 20px;
    color: #00A19E;
}
.footer .container .footer_nav form input,
.footer .container .footer_nav form a {
    text-align: center;
}
.footer .container .footer_nav form a {
    display: inline-block;
    max-width: 120px;
}
.footer .container .footer_nav form input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
.footer .container .footer_social_links .shop_mark a {
    background: url("image/bg_soc_link.png") no-repeat;
    width: 49px;
    height: 48px;
    background-position: center;
    padding: 20px;
}