@import url('PF_ Medium/fonts.css');
@import url('PF_Bold/fonts.css');
@import url('PF_Light/fonts.css');
@import url('PF_Thin/fonts.css');
@import url('PF_Regular/fonts.css');
@import url('flow_regular/fonts.css');
@import url('flow_bold/fonts.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------------------------------------ */
.body {
    font-family: "Conv_PF Din Text Comp Pro Regular", 'Open Sans', sans-serif;;
    color: #959595;
    font-size: 16px;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
p.thin {
    font-family: "Conv_pfdintextcomppro-thin";
    font-size: 18px;
}
a.language_link {
    font-family: "Conv_PFDinTextCompPro-Medium";
    color: #959595;
    font-size: 14px;
    text-decoration: none;
}
a.link_menu {
    font-family: "Conv_pfdintextcomppro-thin";
    text-decoration: none;
    color: black;
    font-size: 16px;
}
a.link_menu:hover {
    border-bottom: 1px solid #65baaf;
}
h1.title {
    font-family: "Conv_PFDinTextCompPro-Medium";
    letter-spacing: 7.8px;
    font-size: 72px;
    padding: 20px 0;
}
a.book_links,
a.book_links_right {
    padding: 10px 20px 0 0;
    text-decoration: none;
    color: #8f5926;
    font-size: 18px;
    font-family: "Conv_PFDinTextCompPro-Medium";
}
a.book_links:hover,
a.book_links_right:hover{
    color: #65baaf;
}
a.read_news {
    text-decoration: none;
    color: #7d7d7d;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #7d7d7d;
    border-radius: 30px;
    font-family: "Conv_PFDinTextCompPro-Medium";
}
a.read_news:hover {
    background-color: #65baaf;
}
a.logo {
    position: relative;
    top: -16px;
    left: 20px;
}
a.link_footer {
    text-decoration: none;
    font-size: 20px;
    font-family: "Conv_pfdintextcomppro-thin";
    color: #7d7d7d;
}
a.link_footer:hover {
    border-bottom: 1px solid #65baaf;
}
a.shop_mark {
    font-family: "Conv_PFDinTextCompPro-Medium";
    font-size: 17px;
}

/* HEADER------------------------------------------------------ */

.header {
    background-color: white;
    position: relative;
    z-index: 10;
}
.header .container .contacts{
    display: flex;
    justify-content: space-between;
}
.header .container .contacts {
    margin: 12px 0 0 0;
}
.header .container .contacts .our_contacts {
    width: 37%;
}
.header .container .contacts .our_contacts p.thin img {
    margin: 0 10px 0 0;
}
.header .container .contacts .our_contacts p.thin {
    margin: 0 0 10px 0;
}
.header .container .contacts .our_contacts p.thin:nth-child(2) {
    transform: translate(-10px, 0px);
}
.header .container .contacts a.logo img {
    background-color: white;
    border-radius: 100px;
    padding: 20px;
}
.header .container .contacts ul.language {
    display: flex;
}
.header .container .contacts form {
    margin: 0 0 0 70px;
}
.header .container .contacts form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #65baaf;
}
.header .container .contacts form button {
    width: 35px;
    height: 34px;
    background-color: #65baaf;
    color: white;
    border-radius: 50px;
    font-size: 17px;
    border: none;
    padding: 5px;
}
.header .container .contacts form button i {
    font-size: 15px;
}
.header .container .contacts ul.language {
    margin: 10px 0 0 0;
}
.header .container .contacts ul.language li {
    position: relative;
    margin: 0 0 0 17px;
}
.header .container .contacts ul.language li:hover::before{
    z-index: -5;
    position: absolute;
    top: -22px;
    left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-width: 40px 16px 10px;
    border-style: solid;
    border-color: #65baaf #65baaf transparent;
}
.header ul.menu {
    letter-spacing: 1px;
    position: relative;
    z-index: 20;
    margin: -90px 0 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul.menu li:last-child {
    margin: 0 17px 0 0;
}
.header ul.menu li {
    margin: 0 17px 0 0;
    vertical-align: middle;
    font-family: "Conv_pfdintextcomppro-thin";
    font-size: 16px;
}
.header ul.menu li:nth-child(4) {
    margin: 0 80px 0 0;
}
.header ul.menu li:nth-child(5) {
    margin: 0 20px 0 160px;
}
.header ul.menu li:last-child {
    margin: 0;
}

/* BANNER------------------------------------------------------ */

.banner {
    background: url("image/banner.png") no-repeat bottom;
    background-size: cover;
    color: white;
    position: relative;
}
.banner:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
}
.banner .container {
    text-align: center;
    position: relative;
}
.banner .container p {
    font-size: 20px;
    font-family: "Conv_pfdintextcomppro-thin";
    letter-spacing: 2px;
    padding: 55px 0;
}
.banner .container h1 {
    padding: 25px 0 0 0;
}
.banner .container h2 {
    font-family: "Conv_FlowRegular";
    font-size: 32px;
    padding: 50px 0 0 0;
}
.banner .container ul.slider {
    padding: 180px 0 30px 0;
}
.banner .container ul.slider li {
    display: inline-block;
}
.banner .container ul.slider a{
    background-image: url("image/sprites.png");
    background-position: -359px -2px;
    display: block;
    width: 25px;
    height: 25px;
    margin: 6px;
}
.banner .container ul.slider li:hover{
    background-image: url("image/sprites.png");
    background-position: -348px -49px;
    width: 37px;
    height: 37px;
    margin: 0;
}
/* blog welcome------------------------------------------------------ */

.welcome {
    border-bottom: 1px solid  #959595;
    max-height: 380px;
}
.welcome .container {
    position: relative;
}

.welcome .container h2 {
    font-size: 36px;
    text-align: center;
    max-width: 400px;
    color: #959595;
    padding: 30px 0 0 0;
    margin: 0 auto;
    font-family: "Conv_pfdintextcomppro-thin";
}
.welcome .container .pictures {
    margin: 300px 0;
}
.welcome .container .pictures img:nth-child(1) {
    position: absolute;
    top: 60px;
    left: -130px;
}
.welcome .container .pictures img:nth-child(2) {
    position: absolute;
    top: 160px;
    left: 240px;
}
.welcome .container .pictures img:nth-child(3) {
    position: absolute;
    top: 25px;
    left: 785px;
}

/* Production------------------------------------------------------ */

.production .container h2,
.our_pluses .container h2,
.our_values .container h2,
.fairy_life .container h2 {
    font-family: "Conv_FlowBold";
    padding: 0 0 80px 0;
    margin: -40px 0 0 0;
    color: #65baaf;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

/* before for donut------------------------------------------------------*/

.production .container {
    max-width: 1030px;
}
.production .container:before {
    position: relative;
    background: white url(image/sprites.png) no-repeat -311px -2px;
    border: 24px solid white;
    border-radius: 50px;
    left: 461px;
    top: -47px;
    content: "";
    display: inline-block;
    width: 44px;
    height: 43px;
}
.production .container .two_sliders {
    display: flex;
    position: relative;
}
.production .container .two_sliders .book_slider {
    position: relative;
    top: 5px;
    left: -30px;
    background: url("image/book.png") no-repeat;
    width: 734px;
    height: 437px;
    background-size: 100%;
}
.production .container .two_sliders .product_mark {
    position: absolute;
    top: 0;
    left: 0;
}
.production .container .two_sliders .product_mark li {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
}
.production .container .two_sliders .product_mark li a.shop_mark {
    color: white;
    text-decoration: none;
}
.production .container .two_sliders .product_mark li:nth-child(1){
    top: -40px;
    left: 95px;
    background: url("image/bg_link_book1.png") no-repeat;
    width: 181px;
    height: 100px;
    background-size: 100%;
    padding-left: 20px;
    padding-top: 15px;
}
.production .container .two_sliders .product_mark li:nth-child(2){
    top: -65px;
    left: 270px;
    background: url("image/bg_link_book2.png") no-repeat;
    width: 157px;
    height: 100px;
    background-size: 100%;
    padding-left: 45px;
    padding-top: 50px;
}
.production .container .two_sliders .product_mark li:nth-child(3){
    top: -35px;
    left: 420px;
    background: url("image/bg_link_book3.png") no-repeat;
    width: 208px;
    height: 57px;
    background-size: 100%;
    padding-left: 25px;
    padding-top: 15px;
}
.production .container .two_sliders .book_slider .about_product {
    display: flex;
    justify-content: space-around;
}
.production .container .two_sliders .book_slider .about_product .picture_of_product,
.production .container .two_sliders .book_slider .about_product .name_of_product {
    width: 40%;
    text-align: center;
}
.production .container .two_sliders .book_slider .about_product .name_of_product {
    position: relative;
}
.production .container .two_sliders .book_slider .about_product .picture_of_product a {
    margin: 20px 0 0 0;
    display: block;
}
.production .container .two_sliders .book_slider .about_product .picture_of_product {
    margin: 60px 0 0px 110px;
}
.production .container .two_sliders .book_slider .about_product .name_of_product {
    margin: 46px 60px 0 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product h3 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color:  #8f5926;
    font-family: "Conv_PFDinTextCompPro-Medium";
    margin: 0 10px 65px 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product h3:before {
    content: "";
    position: absolute;
    top: 70px;
    left: 110px;
    background: url(image/zip_line.png) no-repeat;
    background-size: 100%;
    width: 45px;
    height: 8px;
}
.production .container .two_sliders .book_slider .about_product .name_of_product p {
    font-family: "Conv_pfdintextcomppro-thin";
    font-size: 20px;
    padding: 0 0 15px 0;
    color: #7d7d7d;
    margin: 10px 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product p:last-child {
    margin: 0 0 40px 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles {
    margin: 60px 0 0 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li {
    display: inline-block;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links_right img{
    transform: rotate(180deg);
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links_right:hover img{
    transform: rotate(180deg);
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles {
    position: relative;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles a.book_links {
    margin: 10px 10px 0 0;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links:before {
    content: "";
    background: url("image/sprites.png") no-repeat;
    width:32px;
    height:31px;
    background-position: -389px -2px;
    position: absolute;
    top: -10px;
    left: 100px;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links:hover:before {
    background: url("image/sprites.png") no-repeat;
    width:32px;
    height:31px;
    background-position: -389px -37px;
    transform: scaleX(-1);
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles a.book_links_right {
    padding: 10px 0 0 60px;
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links_right:before {
    content: "";
    background: url("image/sprites.png") no-repeat;
    width:32px;
    height:31px;
    background-position: -389px -2px;
    position: absolute;
    top: -10px;
    left: 145px;
    transform: scaleX(-1);
}
.production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links_right:hover:before {
    background: url("image/sprites.png") no-repeat;
    width: 32px;
    height: 31px;
    background-position: -389px -37px;
    transform: scaleX(1);
}
.production .container .two_sliders .cookie_slider {
    text-align: center;
    margin: 0 0 0 20px;
}
.production .container .two_sliders .cookie_slider a {
    display: inline-block;
    margin-top: 250px;
    vertical-align: top;
}
.production .container .two_sliders .cookie_slider .cookies {
    position: relative;
}
.production .container .two_sliders .cookie_slider .cookies a:before {
    content: "";
    background: url("image/shadow.png") no-repeat;
    position: absolute;
    bottom: -30px;
    left: 60px;
    width: 137px;
    height: 23px;
}
.production .container .two_sliders .cookie_slider .cookies a img{
    vertical-align: middle;
}
.production .container .two_sliders .cookie_slider p.new_cookie {
    padding: 35px 0 0 5px;
    color: #65baaf;
    font-size: 24px;
    font-family: "Conv_PFDinTextCompPro-Medium";
}
.production .container .two_sliders .cookie_slider p.new_cookie span {
    color: #7d7d7d;
    font-size: 18px;
    font-family: "Conv_pfdintextcomppro-thin";
}

/* Our_pluses------------------------------------------------------ */

.our_pluses  .container:before {
    position: relative;
    left: 440px;
    top: -25px;
    content: "";
    background: white url("image/cherry.png") no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 50px;
    padding: 30px 40px;
}
.our_pluses {
    margin: 90px 0 20px 0;
    background-color: rgba(115, 212, 216, 0.25);
}
.our_pluses .container h2 {
    margin: 40px 0;
    padding: 0;
}
.our_pluses .container .four_pluses {
    display: flex;
    justify-content: space-between;
    color: #915b27;
    padding: 0 0 70px 0;
}
.our_pluses .container .four_pluses .plus {
    margin: 30px 0 0 0;
    position: relative;
    font-family: "Conv_pfdintextcomppro-thin";
    font-size: 20px;
    width: 25%;
    text-align: center;
}
.our_pluses .container .four_pluses .plus img {
    position: relative;
    z-index: 10;
}
.our_pluses .container .four_pluses .plus p:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 60px;
    background: url("image/sprites.png");
    background-repeat: no-repeat;
    width:118px;
    height:118px;
    background-position: -2px -2px;
}
.our_pluses .container .four_pluses .plus p {
    padding: 50px 0 0 0;
}

/* Our_values------------------------------------------------------ */

.our_values {
    border-bottom: 1px solid #959595;
    position: relative;
}
.our_values  .container {
    text-align: center;
    margin: 100px auto 90px;
}
.our_values:before {
    content: "";
    background-image: url("image/flour.png");
    background-repeat: no-repeat;
    width: 655px;
    height: 844px;
    position: absolute;
    z-index: -5;
    top: -220px;
    left: 0;
}
.our_values::after {
    content: "";
    background-image: url("image/dough.png");
    background-repeat: no-repeat;
    width:559px;
    height: 637px;
    position: absolute;
    top: 260px;
    right: 0;
    z-index: 5;
}
.our_values  .container h2:before {
    content: "";
    background: url("image/cup.png") no-repeat;
    width: 200px;
    height: 20px;
    background-size: 100%;
    position: absolute;
    top: 79px;
    left: 50%;
    margin-left: -100px;
}
.our_values  .container p {
    font-size: 24px;
    color: #7d7d7d;
    padding: 20px 0;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.our_values  .container .video {
    margin: 15px 0 15px 15px;
    background-image: url("image/border_for_video.png");
    width: 593px;
    height: 413px;
    display: inline-block;
    padding-top: 35px;
    box-sizing: border-box;
}

/* fairy_life------------------------------------------------------ */

.fairy_life .container {
    position: relative;
    text-align: center;
    margin: 50px auto 70px;
    max-width: 980px;
}
.fairy_life .container:before {
    content: "";
    position: absolute;
    left: 440px;
    top: -80px;
    background: white url("image/candy.png") no-repeat;
    background-size: 60%;
    background-position: center;
    border-radius: 50px;
    padding: 25px 35px;
}
.fairy_life .container h2 {
     margin: 60px 0 70px 0;
     padding: 0;
}
.fairy_life .container .our_meeting {
    margin: 0 0 60px 0;
}
.fairy_life .container .our_meeting,
.fairy_life .container .our_meeting .meet {
    display: flex;
}
.fairy_life .container .our_meeting .meet {
    margin-right: 50px;
}
.fairy_life .container .our_meeting .meet:last-child {
    margin: 0 0 0 70px;
}
.fairy_life .container .our_meeting .meet .about_meet {
    margin: 0 0 0 20px;
    text-align: left;
}
.fairy_life .container .our_meeting .meet h3 {
    padding: 0 0 10px 0;
    color: #caa977;
    font-size: 22px;
}

.fairy_life .container .our_meeting .meet p {
    color: #7d7d7d;
    font-size: 20px;
    font-family: "Conv_pfdintextcomppro-thin";
}

/* map------------------------------------------------------ */

.map .container {
    position: relative;
    max-width: 980px;
}
.map .container form.form_on_map {
    position: absolute;
    top: -505px;
    background-color:  #65baaf;
    max-width: 340px;
    padding: 44px 0;
    font-size: 22px;
}
.map .container form div {
    margin: 0 20px;
}
.map .container form p {
    font-family: 'Conv_pfdintextcomppro-light';
    color: white;
    font-size: 42px;
    text-align: center;
}
.map .container form input {
    caret-color: white;
    margin: 5px 0;
    width: 300px;
    height: 45px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}
.map .container form textarea {
    margin: 5px 0;
}
.map .container form input::placeholder,
.map .container form textarea::placeholder {
    color: white;
}
.map .container form input[type='text'],
.map .container form input[type='email'],
.map .container form input[type='tel'] {
    color: white;
}
.map .container form textarea {
    color: white;
    resize: none;
    caret-color: white;
    width: 297px;
    height: 108px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.5);
}
.map .container form button {
    margin: 20px 0 0 0;
    font-size: 20px;
    transform: translate(100px, 0);
    color: white;
    border: 2px solid white;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 30px;
}
.map .container form button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
/* map------------------------------------------------------ */

.footer .container {
    margin: 45px auto 30px;
    position: relative;
    max-width: 980px;
}
.footer .container .footer_nav,
.footer .container .footer_social_links {
    font-size: 20px;
    font-family: "Conv_pfdintextcomppro-thin";
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.footer .container .footer_nav ul.menu_footer:nth-child(2) {
    margin-right: 40px;
}
.footer .container .footer_nav ul.menu_footer li {
    padding: 7px 0;
}
.footer .container .footer_nav ul.contacts_footer {
    color: #7d7d7d;
    max-width: 220px;
    margin: 0 0 0 40px;
}
.footer .container .footer_nav ul.contacts_footer li {
    padding: 10px 0;
}
.footer .container .footer_nav ul.contacts_footer li p {
    font-size: 22px;
    font-family: 'Conv_PFDinTextCompPro-Medium';
    color: #caa977;
}
.footer .container .footer_nav ul.contacts_footer li:nth-child(2):before {
    position: absolute;
    top: 50px;
    right: 610px;
    content: "";
    background-image: url("image/location.png");
    width: 19px;
    height: 32px;
    background-repeat: no-repeat;
}
.footer .container .footer_nav ul.contacts_footer li:nth-child(3):before {
    position: absolute;
    top: 110px;
    right: 610px;
    content: "";
    background-image: url("image/phone.png");
    width: 20px;
    height: 27px;
    background-repeat: no-repeat;
}
.footer .container .footer_nav ul.contacts_footer li:nth-child(4):before {
    position: absolute;
    top: 175px;
    right: 610px;
    content: "";
    background-image: url("image/mail.png");
    width: 28px;
    height: 12px;
    background-repeat: no-repeat;
}
.footer .container .footer_nav form {
    background: url("image/border_in_footer.png") no-repeat;
    width: 324px;
    height: 212px;
    padding: 20px 35px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
}
.footer .container .footer_nav form label {
    font-family: "Conv_PFDinTextCompPro-Medium";
    font-size: 20px;
    color: #00A19E;
    text-transform: uppercase;
}
.footer .container .footer_nav form input,
.footer .container .footer_nav form a {
    text-align: center;
}
.footer .container .footer_nav form a {
    display: inline-block;
    max-width: 120px;
}
.footer .container .footer_nav form input {
    font-family: 'Conv_pfdintextcomppro-thin';
    font-size: 20px;
    margin: 15px 0 0 0;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
.footer .container .footer_social_links {
    margin: 35px 0 0 0;
}
.footer .container .footer_social_links p {
    font-size: 16px;
    font-family: 'Conv_pfdintextcomppro-thin';
    color: #7d7d7d;
}
.footer .container .footer_social_links .shop_mark a {
    background: url("image/bg_soc_link.png") no-repeat;
    width: 49px;
    height: 48px;
    background-position: center;
    padding: 20px;
}

/*------------------------------------------------------ */

@media (max-width: 768px) {
    p.thin {
        font-size: 14px;
    }
    .header .container .contacts .our_contacts p.thin img {
        margin: 0;
    }
    a.logo {
        top: 20px;
        left: 40px;
    }
    .header .container .contacts form {
        position: relative;
        left: -100px;
    }
    .header .container .contacts a.logo img {
        max-width: 90px;
    }
    .header ul.menu {
        margin: -70px 0 20px 0;
    }
    .header .container .contacts form {
        margin: 0;
    }
    a.link_menu {
        font-size: 14px;
    }
    .header ul.menu li:nth-child(5) {
       margin: 0 20px 0 0;
    }
    .welcome .container .pictures img:nth-child(1) {
        display: none;
    }
    .welcome .container .pictures img:nth-child(3) {
        display: none;
    }
    .welcome .container .pictures img:nth-child(2) {
        left: 160px;
    }
    .production .container:before {
        left: 50%;
        margin-left: -30px;
    }
    .production .container .two_sliders {
        display: inline;
    }
    .production .container .two_sliders .book_slider {
        max-width: 580px;
        position: relative;
        top: 5px;
        left: 20px;
    }
    .production .container .two_sliders .book_slider .about_product .picture_of_product img {
        max-width: 190px;
    }
    .production .container .two_sliders .book_slider .about_product .picture_of_product {
        margin: 50px 0 0px 90px;
    }
    .production .container .two_sliders .book_slider .about_product .name_of_product h3 {
        font-size: 26px;
    }
    .production .container .two_sliders .book_slider .about_product .name_of_product p {
        font-family: "Conv_pfdintextcomppro-thin";
        font-size: 16px;
    }
    .production .container .two_sliders .book_slider .about_product .name_of_product .product_angles {
        margin: 30px 0 0 0;
    }
    .production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links:before {
        left: 70px;
    }
    .production .container .two_sliders .book_slider .about_product .name_of_product .product_angles li a.book_links_right:before {
        left: 110px;
    }
    .production .container .two_sliders .book_slider .about_product .name_of_product h3:before {
        top: 50px;
        left: 80px;
    }
    .production .container .two_sliders .product_mark {
        position: absolute;
        top: 2px;
        left: 0;
    }
    .production .container .two_sliders .product_mark li:nth-child(1) {
        top: -30px;
        left: 95px;
        width: 151px;
        height: 50px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .production .container .two_sliders .product_mark li:nth-child(2) {
        top: -55px;
        left: 250px;
        width: 140px;
        height: 100px;
        padding-left: 35px;
        padding-top: 40px;
    }
    .production .container .two_sliders .product_mark li:nth-child(3) {
        top: -27px;
        left: 385px;
        width: 168px;
        height: 57px;
        padding-left: 10px;
        padding-top: 10px;
    }










    .production .container .two_sliders .cookie_slider .cookies a:before {
        left: 305px;
    }
    .our_pluses .container:before {
        left: 340px;
    }
    .our_pluses .container .four_pluses .plus p:before {
        left: 40px;
    }
    .our_values:before {
        background-size: cover;
        width: 300px;
        height: 390px;
    }
    .our_values::after {
        background-size: cover;
        width: 200px;
        height: 240px;
        top: 620px;
    }
    .fairy_life .container:before {
        left: 340px;
    }
    .fairy_life .container .our_meeting, .fairy_life .container .our_meeting .meet {
        display: inline;
    }
    .fairy_life .container .our_meeting .meet .about_meet {
        margin: 20px 0;
        text-align: center;
    }
    .footer .container .footer_nav ul.contacts_footer li:nth-child(2):before,
    .footer .container .footer_nav ul.contacts_footer li:nth-child(3):before,
    .footer .container .footer_nav ul.contacts_footer li:nth-child(4):before {
        display: none;
    }
    .footer .container .footer_nav, .footer .container .footer_social_links {
        display: inline;
        text-align: center;
    }
    .footer .container .footer_nav ul.contacts_footer li:nth-child(2):before,
    .footer .container .footer_nav ul.contacts_footer li:nth-child(3):before,
    .footer .container .footer_nav ul.contacts_footer li:nth-child(4):before {
        display: none;
    }
    .footer .container .footer_nav ul.contacts_footer {
        margin: 0 auto;
    }
    .footer .container .footer_nav ul.menu_footer:nth-child(2) {
        margin-right: 0;
    }
    .footer .container .footer_nav form {
        margin: 0 auto;
    }
    .footer .container .footer_social_links .shop_mark {
        margin: 20px 0;
    }
}